{% extends "generic_template.html" %}
{% load static %}
{% load customtags %}
{% load i18n %}

{% block content %}
{{ description|json_script:"description" }}
{% include "top-panel.html" %}
{% include "character-modal.html" %}
{% include "inventory-modal.html" %}
{% include "faction-modal.html" %}
{% include "event-modal.html" %}
{% include "map-modal.html" %}
{% include "message-modal.html" %}
{% include "option-modal.html" %}
{% include "research-modal.html" %}
{% include "task-modal.html" %}
<div class="w-full lg:flex lg:mx-auto lg:items-stretch grid gap-1 lg:mt-3 lg:pl-1 lg:pr-1 mt-2 justify-stretch main-info-container">
    {% include "display-info.html" %}
</div>
<div class="w-full h-full lg:flex lg:mx-auto lg:items-stretch grid lg:gap-2 lg:mt-3 main-game-container">
    {% include "display-event.html" %}
    {% include "display-game.html" %}
    {% include "display-chat.html" %}
</div>
{% endblock %}