{% extends "generic_template.html" %}
{% load static %}
{% load customtags %}
{% load i18n %}

{% block content %}

{{ description|json_script:"description" }}
{% include "character-modal.html" %}
{% include "inventory-modal.html" %}
{% include "faction-modal.html" %}
{% include "event-modal.html" %}
{% include "map-modal.html" %}
{% include "message-modal.html" %}
{% include "option-modal.html" %}
{% include "research-modal.html" %}
{% include "task-modal.html" %}

{% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
{% include "top-panel.html" %}
    <header class="flex w-full main-info-container m-0 flex-col">
        {% include "display-info.html" %}
    </header>
    <main class="flex main-game-container flex-row  m-0">
        {% include "display-game.html" %}
        {% include "display-char-infos.html" %}
        {% include "display-chat.html" %}
    </main>
    <footer class="flex disclaimer-container m-0">
        {% include "display_disclaimer.html" %}
    </footer>
{% else %}
    <header class="flex w-full main-info-container m-0">
        {% include "display-info.html" %}
    </header>
    <main class="flex main-game-container m-0 flex-row">
        {% include "side-panel.html" %}
        {% include "display-game.html" %}
        {% include "display-char-infos.html" %}
        {% include "display-chat.html" %}
    </main>
    <footer class="flex disclaimer-container m-0">
        {% include "display_disclaimer.html" %}
    </footer>
{% endif %}
{% endblock %}
