{% extends "generic_template.html" %}
{% load static %}
{% load customtags %}

{% block content %}
<body class="relative min-h-screen w-full flex flex-col" id="player-container">
    {% include "top-panel.html" %}
    {% include "character-modal.html" %}
    {% include "faction-modal.html" %}
    {% include "log-modal.html" %}
    {% include "map-modal.html" %}
    {% include "message-modal.html" %}
    {% include "option-modal.html" %}
    {% include "research-modal.html" %}
    {% include "task-modal.html" %}
    <div class="w-full lg:flex lg:mx-auto lg:items-stretch grid gap-1 lg:mt-3 lg:pl-1 lg:pr-1 mt-2 justify-stretch main-info-container">
        <div class="w-full lg:order-1 lg:h-[10vh] overflow-hidden order-1 mx-auto bg-yellow-500"><b>ZONE INFO SYSTEM ACTUEL ET JOUEUR Lorem ipsum dolor sit amet, consectetur adipiscing  ectetur adiectetur adiectetur adiectetur adi ectetur adiectetur adiectetur adiectetur adiectetur adiectetur adiectetur adielit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b></div>
    </div>
    <div class="w-full h-full lg:flex lg:mx-auto lg:items-stretch grid lg:gap-2 lg:pl-1 lg:pr-1 lg:mt-3 mt-1 main-game-container">
        <div class="lg:w-2/12 lg:h-[80vh] lg:order-2 order-3 lg:mt-0 sm:mt-1 mx-auto w-full bg-neutral-500"><b>ZONE EVENT</b>Lorem ipsum dolor sit amet, consectetur adipiscing zdadzadelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="lg:w-8/12 lg:h-[80vh] order-2 mx-auto w-full bg-red-500"><b>ZONE JEU</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="lg:w-2/12 lg:order-2 order-4 mx-auto w-full bg-blue-500"><b>ZONE CHAT</b>Lorem ipsum dolor sit amet, consectetur adipiscing zdadzadelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
</body>
{% endblock %}

{% block js %}
<script src="{% static 'world_builder/game.js' %}"></script>
{% endblock %}