{% extends "generic_template.html" %}
{% load static %}
{% load customtags %}
{% load i18n %}

{% block content %}
<div class="flex justify-between flex-col h-screen w-full overflow-hidden">
        {% include "index-top-panel.html" %}
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
    <main id="main-index-container" class="flex w-full h-full flex-row items-center lg:blur-none overflow-y-scroll no-scrollbar">
        <form class="flex w-full justify-center items-start p-2">
    {% else %}
    <main id="main-index-container" class="flex w-full h-[80vh] flex-row overflow-y-scroll lg:blur-none no-scrollbar text-shadow z-0 lg:p-0 p-2 overflow-y-scroll no-scrollbar">
        <form class="w-full flex justify-center items-center p-2">
    {% endif %}
            <div id="character-faction" class="flex border border-gray-300/60 h-full p-1 justify-between bg-black/50 xl:w-[50%] lg:w-[80%] rounded-md flex-col">
                <div class="flex w-full justify-center text-center text-xl font-bold text-shadow uppercase text-emerald-400">
                    {% translate "Character creation" %}
                </div>
                <div class="flex w-full justify-center text-center text-md font-bold text-shadow uppercase text-emerald-400">
                    {% translate "Select a faction" %}
                </div>
                <div class="flex w-auto">
                    <div id="faction-container" class="w-full flex md:gap-6 gap-2 lg:flex-row flex-col justify-around overflow-hidden">
                        {% for faction in factions %}
                            {% if faction.name != "none" %}
                            <div class="flex flex-col p-1 lg:w-1/3 w-full lg:h-full bg-gray-800 hover:bg-[#B1F1CB]/30 border border-slate-600 rounded-t-md cursor-pointer faction" id="faction-{{ faction.id }}">
                                <div id="faction-item" class="flex rounded-t-md lg:text-sm text-xs font-bold justify-center items-center text-center bg-emerald-900 text-emerald-300">
                                    {{ faction.name }}
                                </div>
                                <img src="{% static '/img/ux/placeholder.svg' %}" class="flex object-fill lg:block hidden"> 
                                <div class="flex p-2">
                                    <p class="flex text-justify break-keep description-text lg:text-sm text-xs font-shadow text-white xl:line-clamp-15 lg:line-clamp-10 md:line-clamp-8 line-clamp-6"> 
                                        {{ faction.data.description }} 
                                    </p>
                                </div>
                                <a href="" class="flex justify-start font-bold text-white lg:text-sm text-xs">{% translate 'show more' %}</a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="next-btn" class="flex justify-center items-center invisible">
                    <button type="button" class="cursor-pointer text-emerald-400 hover:text-[#B1F1CB] lg:text-sm text-xs font-bold font-shadow hover:animate-pulse lg:text-sm text-xs p-2.5 text-center inline-flex items-center me-2 rounded-md">
                    <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </div>
            </div>
            <div id="character-stats" class="flex border border-gray-300/60 justify-between bg-black/50 xl:w-[40%] lg:w-[80%] w-full m-h-[80%] rounded-md flex-col hidden">
                <div class="w-full justify-start text-center text-xl font-bold text-shadow text-emerald-300 uppercase">
                    {% translate "Character creation" %}
                </div>
                <div class="flex md:flex-row flex-col w-full p-2 gap-2 justify-start">
                    <div id="archetype-selection" class="flex flex-col md:w-[50%] w-full gap-3">
                        <div id="archetype-select">
                            <label for="id_archetype" class="block mb-2 lg:text-sm text-xs font-medium text-white text-shadow font-bold first-letter:uppercase">{% translate "Select an archetype" %} <span class="text-red-600">*</span></label>
                            <select id="id_archetype" class="lg:text-sm text-xs rounded-lg block w-full p-2.5 placeholder-[#B1F1CB] text-emerald-300 bg-emerald-900">
                                <option selected="selected">---</option>
                                {% for archetype in archetype_data%}
                                <option value="{{ archetype.id }}">{% translate archetype.name %}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="archetype-informations">
                            {% for archetype in archetype_data%}
                            <div id="archetype-{{ archetype.id }}" class="hidden archetype-selector bg-gray-800 border border-[#B1F1CB] rounded-t-md p-2">
                                <div class="flex p-2">
                                    <p class="flex text-justify description-text text-xs font-shadow text-white"> 
                                        {% translate archetype.description %}
                                    </p>
                                </div>
                                <div class="flex flex-row items-center">
                                    <div id="preview-ship" class="flex justify-center p-2">
                                        <img class="
                                        flex 
                                        object-center 
                                        {% if archetype.ship_id__ship_category_id__size.x == 1 and archetype.ship_id__ship_category_id__size.y == 1%} 
                                        w-[32px] 
                                        {%  else  %} 
                                        w-[64px] 
                                        {%  endif %}  
                                        " 
                                        src="{% static 'img/foreground/ships/'|add:archetype.ship_id__image|add:'.png' %}">
                                    </div>
                                    <div id="archetype-statistics-{{ archetypes.data }}" class="flex justify-center flex-col">
                                        <div class="flex">
                                            <p class="flex text-justify description-text lg:text-sm text-xs font-bold font-shadow text-emerald-300 text-center justify-center"> 
                                                {% translate "Starting skill points" %}
                                            </p>
                                        </div>
                                        <ul class="flex flex-col">
                                        {% for key, value in archetype.data.items %}
                                        <li class="text-white font-shadow flex flex-row gap-2 items-center">
                                            <span class="
                                            iconify 
                                            {% if key == 'Thermal Weapon' %}
                                            game-icons--laser-blast 
                                            {% elif key == 'Ballistic Weapon' %}
                                            game-icons--anti-aircraft-gun
                                            {%  elif key == 'Missile Weapon' %}
                                            game-icons--missile-swarm
                                            {% elif key == 'Frigate' or key == 'Destroyer' or key == 'Battlecruiser' or key == 'Dreadnought' %}
                                            game-icons--spaceship
                                            {%  elif key == 'Termal Shield' %}
                                            game-icons--laser-warning
                                            {% elif key == 'Ballistic Shield' %}
                                            game-icons--shield-reflect
                                            {% elif key == 'Missile Shield' %}
                                            game-icons--dragon-shield
                                            {% elif key == 'Repaire' %}
                                            game-icons--auto-repair
                                            {% elif key == 'Shield Amelioration' %}
                                            game-icons--bolt-shield
                                            {% elif key == 'Evasive Maneuver' or key == 'Hide Signature' %}
                                            game-icons--invisible
                                            {% elif key == 'Detection' %}
                                            game-icons--aerial-signal
                                            {% elif key == 'Sharpshooting' %}
                                            game-icons--targeting
                                            {% elif key == 'Electronic Warfare' %}
                                            game-icons--computing
                                            {% elif key == 'Counter Electronic Warfare' %}
                                            game-icons--computing
                                            {% elif key == 'Research' %}
                                            game-icons--materials-science
                                            {% elif key == 'Crafting' %}
                                            game-icons--crafting
                                            {% elif key == 'Mining' %}
                                            game-icons--mining
                                            {% elif key == 'Refining' %}
                                            game-icons--melting-metal
                                            {% elif key == 'Planetary Exploitation' %}
                                            game-icons--wireframe-globe
                                            {% endif %}
                                            w-[16px] 
                                            h-[16px]"></span>
                                            <p class="text-xs">
                                                {{ key }} 
                                            </p>
                                            <b class="text-[#B1F1CB] font-shadow font-bold text-xs">
                                                {{ value }}
                                            </b>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div id="archetype-base-module" class="flex justify-center flex-col p-2">
                                    <p class="flex text-justify description-text text-sm font-bold font-shadow text-emerald-300"> 
                                        {% translate "Starting modules" %}
                                    </p>
                                    <div id="archetype-base-module-container" class="flex h-[30vh] overflow-y-scroll flex-col thin-semi-transparent-scrollbar thin-semi-transparent-scrollbar:hover">
                                    {% for module in archetype_modules %}
                                        <ul class="flex flex-col font-bold font-shadow justify-start items-start">
                                        {% if archetype.id == module.archetype_id %}
                                                <li class="text-white font-shadow flex flex-col">
                                                    <div class="text-xs flex text-start">{{ module.module_id__name }}</div>
                                                </li>
                                        {% endif %}
                                        </ul>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-80 dark:via-neutral-400 border-1 border border-[#B1F1CB] md:block hidden"></div>
                    <div id="character-informations" class="flex flex-col md:w-[50%] w-full gap-6 bg-gray-800 border border-[#B1F1CB] rounded-md p-2">
                        <div title="{% translate 'Change your picture' %}" class="w-full flex flex-col gap-2 items-center lg:justify-center md:justify-end justify-center cursor-pointer hover:animate-pulse">
                            <label for="" class="flex text-white font-bold">{% translate 'Select your picture' %}</label>
                            <img class="flex w-24 w-24 box-content rounded-md justify-center items-center" id="user-avatar" src="{% static 'ux/default-user.svg' %}">
                            <input type="file" id="id_image" class="hidden-input-file hidden" name="image" accept=".jpg, .png, .gif" />
                        </div>
                        <div class="flex w-full flex-col justify-center items-center">
                            <label for="id_name" class="block mb-2 lg:text-sm text-xs font-medium text-white text-shadow font-bold first-letter:uppercase">{% translate "character name" %} <span class="text-red-600">*</span></label>
                            <input type="text" id="id_name" name="name" class="flex lg:text-sm text-xs rounded-lg block w-[50%] p-2.5 placeholder-[#B1F1CB] text-emerald-300 bg-emerald-900" placeholder="name" required />
                            {{ form.name.help_text | safe }}
                        </div> 
                        <div class="flex w-full flex-col justify-start">
                            <label for="editor" class="block mb-2 lg:text-sm text-xs font-medium text-white text-shadow font-bold first-letter:uppercase">{% translate "Description" %}</label>
                            <div id="editor" class="flex w-[40vw] h-[40vh] max-h-[40vh] bg-gray-50 border border-gray-300 lg:text-sm text-xs cursor-pointer">
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="flex justify-around items-center">
                    <div id="previous-btn" class="flex justify-center items-center flex-col">
                        <button type="button" class="cursor-pointer text-red-600 hover:text-red-400 rotate-180 lg:text-sm text-xs font-bold font-shadow hover:animate-pulse lg:text-sm text-xs p-2.5 text-center inline-flex items-center me-2 rounded-md">
                        <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </div>
                    <button type="button" onclick="this.disabled=true" id="create-character-submit-button" class="text-white bg-emerald-400 hover:bg-emerald-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full/2 sm:w-auto px-5 py-2.5 text-center">{% translate "Validate" %}</button>
                </div>
            </div>
        </form>
    </main>
    <footer class="flex bottom-0 w-full h-10 inline-block disclaimer-container justify-stretch items-bottom bg-zinc-950/70 m-0 lg:blur-none text-shadow p-2">
        {% include "display-disclaimer.html" %}
    </footer>
</div>
{% block js %}
<script>
    let archetype_id = undefined;
    let archetype_selector = document.querySelectorAll('.archetype-selector');

    document.getElementById("id_archetype").addEventListener("change", function() {
        archetype_id = this.options[this.selectedIndex].getAttribute("value");
        for(let i = 0; i < archetype_selector.length; i++){
            archetype_selector_id = archetype_selector[i].id.split('-')[1];
            if(archetype_id != archetype_selector_id){
                archetype_selector[i].classList.add('hidden');
            }else{
                archetype_selector[i].classList.remove('hidden');
            }
        }
    });
</script>
<script src="{% static 'js/quill/quill.js' %}" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
<script src="{% static 'js/quill/quill_element.js' %}" type="text/javascript"></script>
<script>

    let user_is_on_mobile_bool = is_user_is_on_mobile_device()

    let action_listener_touch_click = user_is_on_mobile_bool === false ? 'click' : 'touchstart';
    let faction_element = document.querySelectorAll('.faction');
    let faction_selected = ""

    let previous_button = document.querySelector("#previous-btn");
    let next_button = document.querySelector("#next-btn");

    let faction_window = document.querySelector("#character-faction");
    let stats_window = document.querySelector('#character-stats');

    const reader = new FileReader();
    const img_user = document.querySelector('#user-avatar');
    const img_input = document.querySelector('#id_image');

    let quill_content = undefined;

    let atlas = {
        "col": 40,
        "row": 40,
        "tilesize": 32,
        "map_width_size": 40 * 32,
        "map_height_size": 40 * 32,
    }

    const quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });

    quill.getHTML = () => {
        return quill.root.innerHTML;
    };

    quill.on('text-change', () => {
        quill_content = quill.getHTML();
    });
    
    
    let toolbar = document.querySelector('.ql-editor')
    toolbar.classList.add('text-justify', 'break-all', 'overflow-x-hidden', 'h-[20vh]' )

    let editor = document.querySelector('#editor')
    
    editor.addEventListener("click", () => {
        document.querySelector(".ql-editor").focus();
    });

    previous_button.addEventListener(action_listener_touch_click, function(){
        stats_window.classList.add('hidden');
        faction_window.classList.remove('hidden');
    })

    next_button.addEventListener(action_listener_touch_click, function(){
        faction_window.classList.add('hidden');
        stats_window.classList.remove('hidden');
    })

    let display_animation_preview = function(e) {
        let element = this.parentNode.parentNode.parentNode;
        let directory = e.target.value;
        document.querySelector('#preview').innerHTML = "";

        if (directory !== "none") {
            let image_name = '0.gif';
            let tr = "";
            let td = "";
            let table = "";
            let bg_url = `/static/img/foreground/${fg_item}/${directory}/${image_name}`;
            let index = 0;

            for (let row_i = 0; row_i < atlas.map_height_size; row_i += atlas.tile_size) {
                table = element.querySelector('#preview')
                tr = document.createElement('tr');
                tr.classList.add('rows', "no-borders");

                for (let col_i = 0; col_i < atlas.map_width_size; col_i += atlas.tile_size) {
                    td = document.createElement('td');
                    td.classList.add("w-[32px]", "h-[32px]", "m-0", "p-0", "z-5", "no-borders");
                    td.id = index;
                    td.style.backgroundImage = "url('" + bg_url + "')";
                    td.style.backgroundPositionX = `-${col_i}px`;
                    td.style.backgroundPositionY = `-${row_i}px`;
                    tr.appendChild(td);
                    table.appendChild(tr);
                    index++;
                }
            }
        } else {
            element.querySelector('#preview-animation').classList.add('hidden');
        }
    }

    faction_element.forEach(faction => {
        faction.addEventListener(action_listener_touch_click, function(){
            if(faction.classList.contains('bg-gray-800')){
                faction.classList.remove('bg-gray-800', 'hover:md:bg-[#B1F1CB]/30', 'md:border-gray-300/0', 'md:border-1');
                faction.classList.add('bg-[#B1F1CB]/30', 'md:border', 'md:border-1', 'md:border-gray-300/60');
                document.querySelector('#next-btn').classList.remove('invisible');
            }else{
                faction.classList.remove('bg-[#B1F1CB]/30', 'md:border', 'md:border-1', 'md:border-gray-300/60');
                faction.classList.add('bg-gray-800', 'hover:md:bg-[#B1F1CB]/30', 'md:border-gray-300/0', 'md:border-1');
                document.querySelector('#next-btn').classList.add('invisible');
            }

            this_element = this;
            faction_selected = this.id.split('-')[1];

            for(let y = 0; y < faction_element.length; y++){
                if(this_element != faction_element[y]){
                    faction_element[y].classList.remove('bg-[#B1F1CB]/30', 'hover:md:bg-gray-800', 'md:border', 'md:border-1', 'md:border-gray-300/60');
                    faction_element[y].classList.add('bg-gray-800', 'hover:md:bg-[#B1F1CB]/30', 'md:border-gray-300/0', 'md:border-1');
                }
            }
            this_element = undefined;
        })
    })

    reader.onload = e => {
        img_user.src = e.target.result;
    }

    img_user.addEventListener('click',function(){
        img_input.click();
    })

    img_input.addEventListener('change', e => {
        const f = e.target.files[0];
        reader.readAsDataURL(f);
        img_user.classList.add('border-1')
    })

    submit_btn = document.querySelector('#create-character-submit-button');

    submit_btn.addEventListener(action_listener_touch_click, function(){
        let archetype = document.querySelector('#id_archetype').value;
        let character_name = document.querySelector('#id_name').value;
        let description = quill_content || "";
        
        if (faction_selected && archetype && character_name) {
            let data = new FormData();
            const file = img_input.files[0];
            if (file) data.append('image', file);
            data.append('name', character_name);
            data.append('archetype', archetype);
            data.append('faction', faction_selected);
            data.append('description', description);

            const url = "create_character";
            const headers = new Headers({
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": csrf_token,
            });

            fetch(url, {
                method: "POST",
                headers,
                credentials: "include",
                body: data,
            })
            .then(async response => {
                const contentType = response.headers.get("content-type");
                if (contentType && contentType.includes("application/json")) {
                    return response.json();
                } else {
                    window.location.replace("/");
                    return;
                }
            })
            .then(data => {
                if (!data) return;
                if (data.errors) {
                    console.error(data.errors);
                    // affichage erreurs ici
                }
            })
            .catch(error => console.error("Erreur JS:", error));
        }
    });
</script>
{% endblock %}
{% endblock %}

