{% extends "generic_template.html" %}
{% load static %}
{% load customtags %}
{% load i18n %}

{% block content %}
<header class="relative w-full flex-col index-panel-container lg:blur-none text-shadow">
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        {% include "mobile-create-account-top-panel.html" %}
    {% else %}
        {% include "mobile-create-account-top-panel.html" %}
        {% include "create-account-top-panel.html" %}
    {% endif %}
</header>
{% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
<main class="flex main-index-container w-full h-full flex-row lg:blur-none overflow-y-scroll  no-scrollbar text-shadow font-shadow p-1">
    <div class="flex w-full justify-center items-start md:mt-[10%] p-1">
{% else %}
<main class="flex main-index-container w-full h-full flex-row justify-stretch overflow-y-scroll lg:blur-none no-scrollbar text-shadow p-2 z-0">
    <div class="w-full flex justify-center items-center p-1">
{% endif %}
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        <form class="flex justify-center md:w-[80%] w-full items-center flex-col mx-auto bg-zinc-950/70 border border-gray-300/40 md:mt-[10%] p-2 md:gap-2 rounded-md gap-6">
    {% else %}
        <form class="flex justify-center w-auto items-center flex-col mx-auto bg-zinc-950/70 border border-gray-300/40 p-2 gap-2 rounded-md md:gap-4 sm:gap-3">
    {% endif %}
            <button type="button" onclick="this.disabled=true" id="create-account-submit-button" class="text-white bg-emerald-400 hover:bg-emerald-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">{% translate "Register now" %}</button>
        </form>
    </div>
</main>
<footer class="flex bottom-0 w-full h-10 inline-block disclaimer-container justify-stretch items-bottom bg-zinc-950/70 m-0 lg:blur-none text-shadow p-2">
    {% include "display-disclaimer.html" %}
</footer>
</div>
<script src="{% static 'js/game/world_builder/account/create_character.js' %}" type="text/javascript"></script>
{% endblock %}