{% load static %}
{% load i18n %}
<div class="lg:w-3/12 w-10/12 lg:mb-0 mb-1 lg:order-2 order-4 2xl:h-[75vh] lg:h-[80vh] xl:h-[75.5vh] h-full mx-auto 2xl:bg-[url('/static/js/game/assets/ux/small-container-2.svg')] 2xl:bg-no-repeat 2xl:bg-contain min-[2000px]:bg-center 2xl:bg-center 2xl:bg-top 2xl:bg-gray-800/0 bg-gray-800/40 2xl:border border border-solid border-slate-600 2xl:border-slate-600/0">
    <div class="min-[2000px]:h-[50%] min-[2000px]:mt-[50%] lg:w-[80%] w-[90%] lg:h-[80%] mx-auto text-center text-justify lg:mt-[5vh] text-white min-[2000px]:text-xl xl:text-md text-sm flex-wrap lg:overflow-y-scroll thin-semi-transparent-scrollbar" id="player-info-item-container">
    </div>
</div>
