{% load static %}
{% load i18n %}
{{ map_informations|json_script:"script_map_informations" }}
{{ request.user.id|json_script:"script_user_id" }}
<div id="map-background" class="lg:w-6/12 w-full order-2 2xl:h-[75vh] xl:h-[80%] flex item-center justify-center m-0 p-1 2xl:bg-[url('/static/img/ux/border-container-withbg.svg')] 2xl:bg-no-repeat 2xl:bg-contain md:bg-center">
    <div class="flex self-center item-center">
        <div class="grid">
            <table class="tabletop-view hidden">
                <tbody>
                {% for row in map_size_range.rows %}
                    {% if forloop.first %}
                        <td id="0_0" class="text-center bg-gray-800/40 text-emerald-300 font-shadow font-bold border border-gray-950 border-dotted w-[32px] h-[32px] p-0 z-5 md:text-sm text-xs ">0:0</td>
                        {% for col in map_size_range.cols %}
                            <td id="X_{{ col }}" class="text-center font-shadow bg-gray-800/40 text-emerald-300 font-bold border border-gray-950 border-dotted w-[32px] h-[32px] p-0 z-5 md:text-sm text-xs">{{ col }}</td>
                        {% endfor %}
                    {% endif %}
                    <tr class="rows">
                        <td id="Y_{{ row }}" class="text-center text-emerald-300 font-bold border-gray-950 border-dotted w-[32px] h-[32px] p-0 m-0 md:text-sm text-xs">{{ row }}</td>
                        {% for col in map_size_range.cols %}
                            <td class="relative w-[32px] h-[32px] m-0 p-0 tile" id="{{ row }}_{{ col }}">
                                <div class="relative w-[32px] h-[32px]">
                                    <span class="absolute hover:box-border hover:border-2 hover:border block z-10 w-[32px] h-[32px]"></span>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="modal-container"></div>
</div>
<div class="w-full flex items-center justify-center md:hidden lg:order-99 order-3 mb-2 mt-2" dir="ltr" id="mobile-cross">
    <div class="w-[100px] h-[200px] flex flex-col">
        <div class="flex-1 w-full pb-5 relative bg-gray-800/40 border-l border-t border-r border-b border-[#B1F1CB]"><i class="fa-solid fa-left-long fa-3x rotate-45 text-emerald-400 absolute top-0"></i></div>
        <div class="flex-1 w-full pb-5 relative bg-gray-800/40 border-r border-l border-b border-[#B1F1CB]"><i class="fa-solid fa-left-long fa-3x text-emerald-400 inset-center"></i></div>
        <div class="flex-1 w-full pb-5 relative bg-gray-800/40 border-r border-l border-b border-[#B1F1CB]"><i class="fa-solid fa-left-long fa-3x -rotate-45 text-emerald-400 absolute bottom-0"></i></div>
    </div>
    <div class="w-[100px] h-[200px] flex flex-col" dir="ltr">
        <div class="flex-1 w-full pb-5 relative bg-gray-800/40  border-t border-b border-[#B1F1CB]"><i class="fa-solid fa-up-long fa-3x text-emerald-400 inset-center"></i></div>
        <div class="flex-1 w-full pb-5 self-center relative"><i class="fa-solid fa-location-crosshairs fa-3x text-emerald-400 inset-center"></i></div>
        <div class="flex-1 w-full pb-5 self-bottom relative  bg-gray-800/40 border-t border-b border-[#B1F1CB]"><i class="fa-solid fa-down-long fa-3x text-emerald-400 inset-center"></i></div>
    </div>
    <div class="w-[100px] h-[200px] flex flex-col" dir="rtl">
        <div class="flex-1 w-full pb-5 relative bg-gray-800/40 border-l border-t border-r border-b border-[#B1F1CB]"><i class="fa-solid fa-right-long fa-3x -rotate-45 text-emerald-400 absolute top-0"></i></div>
        <div class="flex-1 w-full pb-5 relative bg-gray-800/40 border-r border-l border-b border-[#B1F1CB]"><i class="fa-solid fa-right-long fa-3x text-emerald-400 inset-center"></i></div>
        <div class="flex-1 w-full pb-5 relative bg-gray-800/40 border-b border-l border-r border-[#B1F1CB]"><i class="fa-solid fa-right-long fa-3x rotate-45 text-emerald-400 absolute bottom-0"></i></div>
    </div>
</div>

<script src="{% static 'world_builder/world/game.js'%}" type='text/javascript'></script>
<script src="{% static 'world_builder/world/add_sector_elements.js'%}" type='text/javascript'></script>
<script src="{% static 'world_builder/world/modals.js'%}" type='text/javascript'></script>
<script src="{% static 'world_builder/classes/player.js'%}" type='text/javascript'></script>
<script src="{% static 'world_builder/world/pathfinding.js'%}" type='text/javascript'></script>
<script src="{% static 'world_builder/async/async_actions.js'%}" type='text/javascript'></script>