{% load static %}
{% load i18n %}
<div class="2xl:w-2/12 lg:w-4/12 lg:order-2 order-3 lg:mt-0 md:mt-1 md:h-[80vh] h-[30vh] mx-auto w-full xl:bg-[url('/static/img/ux/small-container.svg')] bg-no-repeat bg-contain xl:bg-center xl:bg-grey-500/0">
    <div class="lg:w-10/12 w-12/12 md:text-start break-words mx-auto bg-gray-800/40 p-0 m-0 min-[2000px]:mt-[25vh] 2xl:mt-[20vh] xl:mt-[17vh] lg:mt-[5vh] text-white min-[2000px]:h-[25vh] 2xl:h-[35vh] xl:h-[40vh] md:h-[40vh] h-[30vh] xl:text-md text-sm overflow-y-scroll no-scrollbar" id="chat-item-container">
    {% for i in loop %}
        <div class="flex {% cycle 'flex-row' 'flex-row-reverse' %} break-words mt-1">
            <img class="w-14 h-7 object-contain object-scale-down" src="{% static 'default_img/default-user.svg' %}">
            <div>
                <strong class="align-middle text-emerald-400">Username</strong>
            </div>
        </div>
        <p class="{% cycle 'text-left' 'text-right' %}  text-wrap px-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    {% endfor %}
    </div>
    <div class="mt-1">
    <input type="text" id="small-input" class="lg:w-10/12 md:w-full w-10/12 mx-auto md:mb-0 mb-3 mt-2 bg-gray-50 border border-gray-800 text-gray-900 text-sm block p-1.5 bg-gray-700 dark:text-white">
    </div>
    <input type="submit" id="chat-message-submit" hidden>
</div>