{% load static %}
{% load i18n %}
<div class="lg:w-3/12 w-10/12 lg:mb-0 mb-1 lg:order-2 order-4 2xl:h-[75vh] lg:h-[80vh] xl:h-[80%] h-[20vh] mx-auto 2xl:bg-[url('/static/img/ux/small-container-2.svg')] 2xl:bg-no-repeat 2xl:bg-contain min-[2000px]:bg-center 2xl:bg-center 2xl:bg-top 2xl:bg-gray-800/0 bg-gray-800/40 2xl:border border border-solid border-slate-600 2xl:border-slate-600/0">  
    <div class="min-[2000px]:h-[50%] min-[2000px]:mt-[50%] w-full min-[2000px]:h-[50vh] h-full m-0 p-10 text-center text-justify xl:mt-[0vh] lg:mt-[5vh] text-white min-[2000px]:text-xl xl:text-md text-sm overflow-y-scroll no-scrollbar">
      <div class="w-full md:mx-auto 2xl:h-[100%] min-[2000px]:w-[90%] xl:h-[60vh] text-white min-[2000px]:text-xl text-sm overflow-y-scroll no-scrollbar font-shadow border-content  font-shadow min-[2000px]:text-xl xl:text-sm text-justify " id="player-info-item-container">
        {% for player in map_informations.pc_npc %}
          {% if player.user.user == request.user.id %}
          <div class="lg:w-full w-1/2 mt-1 flex items-center lg:justify-center justify-start lg:flex-col lg:flex-col flex-row">
            <div class="w-2/2 mt-1 flex items-center justify-center gap-2 lg:flex-row flex-col">
              <img class="2xl:w-48 w-24 box-content " id="user-avatar" src="{% static 'default_img/default-user.svg' %}">
              <ul>
                <li class="text-justify text-center"><b>{% translate "Name" %}:</b> {{ player.user.name }}</li>
                <li class="text-justify text-center"><b>{% translate "Sector" %}:</b> {{ player.user.sector_name }}</li>
              </ul>
            </div>
            <ul class="w-full mt-1" id="player-progressbar">
            </ul>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
</div>
