{% load static %}
{% load i18n %}
<div class="2xl:w-2/12 lg:w-4/12  lg:order-2 order-3 md:h-[80vh] h-[30vh] lg:mt-0 md:mt-1 mt-80 mx-auto w-full xl:bg-[url('/static/img/ux/small-container.svg')] bg-no-repeat bg-contain xl:bg-center xl:bg-neutral-500/0 bg-neutral-500 overflow-y-scroll ">
  <div class="w-full xl:p-8 min-[2000px]:mt-[25vh] 2xl:mt-[20vh] xl:mt-[15vh] lg:mt-[5vh] text-white xl:h-[50vh] xl:text-md text-sm overflow-y-scroll">
      <b>ZONE EVENT</b>
      Lorem ipsum dolor sit amet, consectetur adipiscing zdadzadelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
