{% load static %}
{% load customtags %}
{% load i18n %}
{{ map_informations|json_script:"script_map_informations" }}
{{ current_player_id|json_script:"script_current_player_id" }}
<div id="button-menu" class="hidden md:flex justify-center items-center order-1 m-2 w-1/12">
    <ul class="flex flex-col h-auto gap-6 p-4 bg-emerald-900/40 border border-emerald-400/40">
        <li data-tooltip-target="character-tooltip" data-tooltip-placement="right" data-modal-target="character-modal" data-modal-toggle="character-modal" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-user fa-xl"></i>
            </div>
            <div id="character-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Character" %}
                <div class="map-arrow" data-popper-arrow></div>
            </div>
        </li>
        <li data-tooltip-target="inventory-tooltip" data-tooltip-placement="right" data-modal-target="inventory-modal" data-modal-toggle="inventory-modal" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 hover:border-[#B1F1CB] button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-box fa-xl"></i>
            </div>
            <div id="inventory-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Inventory" %}
                <div class="map-arrow" data-popper-arrow></div>
            </div>
        </li>
        <li data-tooltip-target="faction-tooltip" data-tooltip-placement="right" data-modal-target="faction-modal" data-modal-toggle="faction-modal" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 hover:border-[#B1F1CB] button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-people-group fa-xl"></i>
            </div>
            <div id="faction-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Faction" %}
                <div class="map-arrow" data-popper-arrow></div>
            </div>
        </li>
        <li data-tooltip-target="research-tooltip" data-tooltip-placement="right" data-modal-target="research-modal" data-modal-toggle="research-modal" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 hover:border-[#B1F1CB] button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-brain fa-xl"></i>
            </div>
            <div id="research-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Research" %}
                <div class="map-arrow" data-popper-arrow></div>
            </div>
        </li>
        <li data-tooltip-target="map-tooltip" data-tooltip-placement="right" data-modal-target="map-modal" data-modal-toggle="map-modal" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 hover:border-[#B1F1CB] button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-map fa-xl"></i>
            </div>
            <div id="map-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Map" %}
                <div class="map-arrow" data-popper-arrow></div>
            </div>
        </li>
        <li data-tooltip-target="task-tooltip" data-tooltip-placement="right" data-tooltip-placement="right" data-modal-target="task-modal" data-modal-toggle="task-modal" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 hover:border-[#B1F1CB] button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-list-check fa-xl"></i>
            </div>
            <div id="task-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Tasks" %}
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </li>
        <li data-tooltip-target="event-tooltip" data-tooltip-placement="right" data-modal-target="event-modal" data-modal-toggle="event-modal" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 hover:border-[#B1F1CB] button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-mobile-screen-button fa-xl"></i>
            </div>
            <div id="event-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Events" %}
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </li>
        <li data-tooltip-target="message-tooltip" data-tooltip-placement="right" data-modal-target="message-modal" data-modal-target="message-modal" data-modal-toggle="message-modal" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 hover:border-[#B1F1CB] button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-envelope fa-xl"></i>
            </div>
            <div id="message-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Message" %}
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </li>
        <li data-tooltip-target="forum-tooltip" data-tooltip-placement="right" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 hover:border-[#B1F1CB] button-panel justify-center items-center z-1">
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-comments fa-xl"></i>
            </div>
            <div id="forum-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Forum" %}
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </li>
        <form data-tooltip-target="logout-tooltip" data-tooltip-placement="right" method="post" action="{% url 'core:logout_view' %}" class="flex flex-row h-[15px] cursor-pointer p-1 gap-2 text-emerald-400 hover:text-emerald-300 button-panel justify-center items-center logout">
            {% csrf_token %}
            <div class="w-auto flex items-center shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.25]">
                <i class="fa-solid fa-home fa-xl"></i>
            </div>
            <div id="logout-tooltip" role="tooltip" class="absolute z-98 invisible inline-block px-3 py-2 text-sm font-bold transition-opacity duration-300 shadow-xs opacity-0 tooltip  text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md">
                {% translate "Logout" %}
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <button type="submit" id="logout-btn" class="hidden"></button>
        </form>
    </ul>
</div>
<div id="map-background" class="flex lg:w-9/12 w-full h-full order-2 lg:flex-col flex-col mx-0 overflow-x-hidden no-scrollbar mt-2 justify-center items-center select-none">
    <div class="flex z-100 mx-auto mb-2 justify-center lg:items-center">
        <div class="grid">
            <table class="tabletop-view">
                <tbody class="border-collapse">
                {% for row in map_size_range.rows %}
                    {% if forloop.first %}
                        <td id="Y_X" class="text-center text-emerald-300/70 font-orbitron font-bold w-[32px] h-[32px] uncrossable text-xs uppercase tracking-wide">
                            <span class="flex w-[32px] hidden" id="Y_X_y"></span>
                        </td>
                        {% for col in map_size_range.cols %}
                        <td id="X_{{ col }}" class="text-center text-emerald-300 font-orbitron font-semibold border border-emerald-400/20 bg-zinc-800/50 w-[32px] h-[32px] md:p-1 text-xs tracking-wider shadow-sm hover:bg-emerald-500/10 transition-all duration-200">
                            {{ col }}
                        </td>
                        {% endfor %}
                    {% endif %}
                    <tr class="rows">
                        <td id="Y_{{ row }}" class="text-center text-emerald-300 font-orbitron font-semibold border border-emerald-400/20 bg-zinc-800/50 w-[32px] h-[32px] md:p-1 text-xs tracking-wider shadow-sm hover:bg-emerald-500/10 transition-all duration-200">{{ row }}</td>
                        {% for col in map_size_range.cols %}
                            <td class="relative w-[32px] h-[32px] m-0 p-0 tile z-10" id="{{ row }}_{{ col }}">
                                <div class="relative w-[32px] h-[32px] z-20 coord-zone-div">
                                    <div class="absolute w-[32px] h-[32px] hidden" id="field-of-view"></div>
                                    <span class="absolute w-[32px] h-[32px]"></span>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="context-menu" id="contextMenu"></div>
    <div id="modal-container" class="z-[100]"></div>
    <div class="w-full flex justify-center items-center z-100 lg:order-99 order-3 lg:hidden" dir="ltr" id="mobile-cross">
        <div class="flex w-full justify-center items-center lg:hidden lg:order-99 order-3">
            <div class="w-[20vw] h-[20vh] flex flex-col bg-gray-600/40 border border-slate-600 rounded">
                <button type='button' class="flex-1 w-full pb-5 relative" ontouchstart="clear_path()" id="top-left">
                    <img src="{% static 'ux/cancel_icon.svg' %}" class="w-[40px] h-[40px] inset-center"/>
                </button>
                <button type='button' class="flex-1 w-full pb-5 relative active:bg-emerald-400/40 bg-gray-800/50 border border-[#B1F1CB] direction-arrow" ontouchstart="display_pathfinding_mobile('left')" id="move-left">
                    <i class="fa-solid fa-left-long fa-2x active:text-emerald-300 text-emerald-400 inset-center arrow-icon fa-lg"></i>
                </button>
                <button type='button' class="flex-1 w-full pb-5 relative" id="top-right">
                    <i class="text-emerald-400 absolute bottom-0 fa-lg"></i>
                </button>
            </div>
            <div class="w-[20vw] h-[20vh] flex flex-col bg-gray-600/40 border border-slate-600 rounded" dir="ltr">
                <button type='button' class="flex-1 w-full pb-5 relative active:bg-emerald-400/40 bg-gray-800/50 border border-[#B1F1CB] direction-arrow" ontouchstart="display_pathfinding_mobile('top')" id="move-top">
                    <i class="fa-solid fa-up-long fa-2x active:text-emerald-300 text-emerald-400 inset-center arrow-icon fa-lg"></i>
                </button>
                <button type='button' class="flex-1 w-full pb-5 self-center relative" ontouchstart="mobile_movement_action()" id="center">
                    <i class="fa-solid fa-location-crosshairs fa-2x text-emerald-400 inset-center arrow-icon fa-lg"></i>
                </button>
                <button type='button' class="flex-1 w-full pb-5 self-bottom relative active:bg-emerald-400/40 bg-gray-800/50 border border-[#B1F1CB] direction-arrow" ontouchstart="display_pathfinding_mobile('bottom')" id="move-bottom">
                    <i class="fa-solid fa-down-long fa-2x active:text-emerald-300 text-emerald-400 inset-center arrow-icon fa-lg"></i>
                </button>
            </div>
            <div class="w-[20vw] h-[20vh] flex flex-col bg-gray-600/40 border border-slate-600 rounded" dir="rtl">
                <button type='button' class="flex-1 w-full pb-5 relative">
                    <i class="text-emerald-400 absolute top-0" id="bottom-left fa-lg"></i>
                </button>
                <button type='button' class="flex-1 w-full pb-5 relative active:bg-emerald-400/40 bg-gray-800/50 border border-[#B1F1CB] direction-arrow" ontouchstart="display_pathfinding_mobile('right')" id="move-right">
                    <i class="fa-solid fa-right-long fa-2x active:text-emerald-300 text-emerald-400 inset-center arrow-icon fa-lg"></i>
                </button>
                <button type='button' class="flex-1 w-full pb-5 relative" id="bottom-right">
                    <i class="text-emerald-400 absolute bottom-0 fa-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="player-infos" class="flex z-20 lg:inline hidden order-3 w-2/12 h-auto my-2 mx-2 no-scrollbar bg-emerald-900/20 backdrop-blur-md border border-emerald-400/20 rounded-2xl shadow-lg shadow-emerald-900/40 overflow-y-auto transition-all duration-500 ease-out animate-fade-in">
    {% for pc in map_informations.pc %}
        {% if pc.user.player == current_player_id %}
            <div id="player-info-item-container" class="w-full flex flex-col items-center justify-center gap-4 p-4 text-sm thin-semi-transparent-scrollbar">

                <!-- CHARACTER CARD -->
                <fieldset id="player-fieldset" class="w-full border border-emerald-400/40 rounded-xl bg-emerald-900/40 p-3 shadow-inner shadow-emerald-900/30 transition-transform duration-300 hover:scale-[1.02] select-none">
                    <legend class="text-sm uppercase tracking-wider font-bold text-emerald-300 bg-emerald-950/60 border border-emerald-400/40 rounded-md px-2 py-1 shadow-sm">
                        {% translate "Character" %}
                    </legend>

                    <div class="flex flex-row justify-center items-center gap-2">
                        <img class="w-20 h-auto rounded-md shadow-sm justify-center items-center shadow-emerald-800/50" 
                            alt="image description"
                            {% if pc.user.image %}
                            srcset="/static/img/users/{{pc.user.player}}/0.gif"
                            {% else %}
                            srcset="{% static 'ux/default-user.svg' %}"
                            {% endif %}>
                        
                        <div class="flex flex-col items-center gap-1">
                            <div class="text-emerald-300 font-bold">{{ pc.user.name }}</div>
                            <div class="text-emerald-200">{{ pc.user.archetype_name }}</div>
                            <div class="text-emerald-200 italic">{{ pc.faction.name }}</div>
                        </div>
                    </div>
                </fieldset>

                <!-- STATUS -->
                <fieldset id="status-fieldset"class="w-full border border-emerald-400/40 rounded-xl bg-emerald-900/30 p-3 shadow-inner shadow-emerald-900/30 flex flex-col gap-2 min-h-[75px] select-none">
                    <legend class="text-sm uppercase tracking-wider font-bold text-emerald-300 bg-emerald-950/60 border border-emerald-400/40 rounded-md px-2 py-1 shadow-sm">
                        {% translate "Effects" %}
                    </legend>
                    <!-- Future dynamic status effects could go here -->
                    <p class="text-emerald-400/60 italic text-center">{% translate "No active effects" %}</p>
                </fieldset>

                <!-- STATISTICS -->
                <fieldset id="statistics-fieldset" class="w-full border border-emerald-400/40 rounded-xl bg-emerald-900/30 p-3 shadow-inner shadow-emerald-900/30 flex flex-col gap-3 min-h-[100px] select-none">
                    <legend class="text-sm uppercase tracking-wider font-bold text-emerald-300 bg-emerald-950/60 border border-emerald-400/40 rounded-md px-2 py-1 shadow-sm">
                        {% translate "Statistics" %}
                    </legend>

                    <!-- Each stat block -->
                    <div id="container-basic-stats" class="flex border border-[#B1F1CB] rounded bg-emerald-900/40 rounded-md p-2 w-full flex-col gap-1"> 
                        <label for="hp-container" class="font-bold font-shadow text-emerald-300 text-xs">{% translate 'Hull points'%}</label> 
                        <div class="w-full bg-red-600 relative h-[15px] text-start">
                            <div class="bg-blue-600 leading-none h-[15px] absolute" style="width:{% widthratio pc.ship.current_hp pc.ship.max_hp 100 %}%"></div>
                            <span class="absolute w-full z-10 text-center text-xs font-bold font-shadow text-blue-100 text-center justify-center items-center gap-1" id="hp-container-value">
                                <span id="hp-container-value-min">{{pc.ship.current_hp}}</span>/<span id="hp-container-value-max">{{pc.ship.max_hp}}</span>
                            </span>
                        </div>
                        <label for="movement-container" class="font-bold font-shadow text-emerald-300 text-xs">{% translate 'Movement points'%}</label>
                        <div class="w-full bg-red-600 relative h-[15px] text-start">
                            <div class="bg-blue-600 leading-none h-[15px] absolute" style="width:{% widthratio pc.ship.current_movement pc.ship.max_movement 100 %}%" id="movement-percent"></div>
                            <span class="absolute w-full z-10 text-center text-xs font-bold font-shadow text-blue-100 text-center justify-center items-center gap-1" id="movement-container-value">
                                <span id="movement-container-value-min">{{pc.ship.current_movement}}</span>/<span id="movement-container-value-max">{{pc.ship.max_movement}}</span>
                            </span>
                        </div>
                        <label for="actionPoint-container" class="font-bold font-shadow text-emerald-300 text-xs">{% translate 'Action points'%}</label>
                        <div class="w-full bg-red-600 relative h-[15px] text-start">
                            <div class="bg-blue-600 leading-none h-[15px] absolute"style="width:{% widthratio pc.user.current_ap pc.user.max_ap 100 %}%"></div>
                            <span class="absolute w-full z-10 text-center text-xs font-bold font-shadow text-blue-100 text-center justify-center items-center gap-1" id="actionPoint-container-value">
                                <span id="actionPoint-container-value-min">{{pc.user.current_ap}}</span>/<span id="actionPoint-container-value-max">{{pc.user.max_ap}}</span>
                            </span>
                        </div>
                    </div>
                    <div id="container-basic-stats" class="flex border border-[#B1F1CB] rounded bg-emerald-900/40 rounded-md p-2 w-full flex-col gap-1"> 
                        <label for="ballistic-container" class="font-bold font-shadow text-emerald-300 text-xs">{% translate 'Ballistic defense'%}</label>
                        <div class="w-full bg-red-600 relative h-[15px] text-start">
                            <div class="bg-blue-600 leading-none h-[15px] absolute" style="width:{% widthratio pc.ship.current_ballistic_defense pc.ship.max_ballistic_defense 100 %}%"></div>
                            <span class="absolute w-full z-10 text-center text-xs font-bold font-shadow text-blue-100 text-center justify-center items-center gap-1" id="ballistic-container-value">
                                <span id="ballistic-container-value-min">{{pc.ship.current_ballistic_defense}}</span>/<span id="ballistic-container-value-max">{{pc.ship.max_ballistic_defense}}</span>
                            </span>
                        </div>
                        <label for="thermal-container" class="font-bold font-shadow text-emerald-300 text-xs">{% translate 'Thermal defense'%}</label>
                        <div class="w-full bg-red-600 relative h-[15px] text-start">
                            <div class="bg-blue-600 leading-none h-[15px] absolute" style="width:{% widthratio pc.ship.current_thermal_defense pc.ship.max_thermal_defense 100 %}%"></div>
                            <span class="absolute w-full z-10 text-center text-xs font-bold font-shadow text-blue-100 text-center justify-center items-center gap-1" id="thermal-container-value">
                                <span id="thermal-container-value-min">{{pc.ship.current_thermal_defense}}</span>/<span id="thermal-container-value-max">{{pc.ship.max_thermal_defense}}</span>
                            </span>
                        </div>
                        <label for="missile-container" class="font-bold font-shadow text-emerald-300 text-xs">{% translate 'Missile defense'%}</label>
                        <div class="w-full bg-red-600 relative h-[15px] text-start">
                            <div class="bg-blue-600 leading-none h-[15px] absolute" style="width:{% widthratio pc.ship.current_missile_defense pc.ship.max_missile_defense 100 %}%"></div>
                            <span class="absolute w-full z-10 text-center text-xs font-bold font-shadow text-blue-100 text-center justify-center items-center gap-1" id="missile-container-value">
                                <span id="missile-container-value-min">{{pc.ship.current_missile_defense}}</span>/<span id="missile-container-value-max">{{pc.ship.max_missile_defense}}</span>
                            </span>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="action-logs" class="w-full border border-emerald-400/40 rounded-xl bg-emerald-900/30 p-3 shadow-inner shadow-emerald-900/30 flex flex-col gap-1 overflow-y-auto max-h-[200px] text-xs font-mono text-emerald-300 thin-semi-transparent-scrollbar select-none">
                    <legend class="text-sm uppercase tracking-wider font-bold text-emerald-300 bg-emerald-950/60 border border-emerald-400/40 rounded-md px-2 py-1 shadow-sm">
                        {% translate "Action Logs" %}
                    </legend>
                    <ul id="player-log-container" class="flex flex-col-reverse gap-0.5">
                        <li class="opacity-70 italic">{% translate "You entered the sector." %}</li>
                        <li class="opacity-80">{% translate "You scanned a ship." %}</li>
                        <li class="opacity-70 italic">{% translate "You entered the sector." %}</li>
                        <li class="opacity-80">{% translate "You scanned a ship." %}</li>
                        <li class="opacity-70 italic">{% translate "You entered the sector." %}</li>
                        <li class="opacity-80">{% translate "You scanned a ship." %}</li>
                        <li class="opacity-70 italic">{% translate "You entered the sector." %}</li>
                        <li class="opacity-80">{% translate "You scanned a ship." %}</li>
                        <li class="opacity-70 italic">{% translate "You entered the sector." %}</li>
                        <li class="opacity-80">{% translate "You scanned a ship." %}</li>   
                    </ul>
                </fieldset>
            </div>
        {% endif %}
    {% endfor %}
</div>

<script src="{% static 'world_builder/loading/loading_screen.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/onlyDom/log_display_style.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/check_visibility.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/sonar.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/sonar_ship_display.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/sonar_ship_display_other_player.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/observable_zone.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/async/async_action_registry.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/async/async_action_register.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/async/async_action_manager.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/game.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/navbar_game.js'%}" type="application/javascript"></script>
<script src="{% static 'world_builder/world/world_reset.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/classes/player.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/modals.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/add_background.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/add_foreground.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/add_borders.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/add_npc.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/add_pc.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/add_sector_overflow.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/update_user_coordinates.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/add_sector_elements.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/occured_event_display.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/async/async_movements.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/async/async_actions.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/pathfinding.js'%}" type='application/javascript'></script>
<script src="{% static 'world_builder/world/pathfinding_mobile.js'%}" type='application/javascript'></script>
<script src="{% static 'js/game/world_builder/account/logout.js' %}" type="application/javascript"></script>