@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0f0e0e;
}

#player-container{
    background-image: url("/static/fonts/space_2.jpg");
    background-size: cover;
}

#settings-button{
    color: #F5F5F5;
    border:none;
}

.font-shadow{
    text-shadow: 1px 1px 2px black;
}

.ck-editor__editable {
    min-height: 30vh;
    max-height: 50vh;
}

fieldset {
    border: 1px solid whitesmoke;
}

.progress-bar-color{
    background-color: #01ff66;
}

.game-container-border{
    background-image: url("/static/fonts/border-container-withbg.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-container {
  clip-path:
    polygon(
      0% 20px,                 /* top left */
      20px 0%,                 /* top left */
      calc(100% - 20px) 0%,    /* top right */
      100% 20px,               /* top right */
      100% calc(100% - 20px),  /* bottom right */
      calc(100% - 20px) 100%,  /* bottom right */
      20px 100%,               /* bottom left */
      0 calc(100% - 20px)      /* bottom left */
    );

}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-center-28 {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-center-32 {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-center-40 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-center-45 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-center-52 {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-center-58 {
  position: absolute;
  top: 58vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.inset-center-60 {
  position: absolute;
  top: 60vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.img-container-size{
    background-size: auto 100vh;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

table.no-spacing {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.no-borders{
    border:0;
    border-spacing:0;
}

select{
    text-align:center;
}