@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #0f0e0e;
    font-family: monospace;
}

#player-container {
    background-image: url("/static/fonts/space_2.jpg");
    background-size: cover;
}

#settings-button {
    color: #F5F5F5;
    border: none;
}

.font-shadow {
    text-shadow: 1px 1px 2px black;
}

.ck-editor__editable {
    min-height: 30vh;
    max-height: 50vh;
}

fieldset {
    border: 1px solid whitesmoke;
}

.progress-bar-color {
    background-color: #01ff66;
}

.game-container-border {
    background-image: url("/static/fonts/border-container-withbg.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-container {
    clip-path: polygon( 0% 20px, /* top left */
    20px 0%, /* top left */
    calc(100% - 20px) 0%, /* top right */
    100% 20px, /* top right */
    100% calc(100% - 20px), /* bottom right */
    calc(100% - 20px) 100%, /* bottom right */
    20px 100%, /* bottom left */
    0 calc(100% - 20px)/* bottom left */
    );
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inset-center-28 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inset-center-32 {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inset-center-40 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inset-center-45 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inset-center-52 {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inset-center-58 {
    position: absolute;
    top: 58vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.inset-center-60 {
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.img-container-size {
    background-size: auto 100vh;
}


/* Hide scrollbar for IE, Edge and Firefox */

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

table.no-spacing {
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;
    /* Optional - if you don't want to have double border where cells touch */
}

.no-borders {
    border: 0;
    border-spacing: 0;
}

select {
    text-align: center;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #000;
    z-index: 1;
}


/*
.loading-spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/

.thin-semi-transparent-scrollbar {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

.thin-semi-transparent-scrollbar:hover {
    scrollbar-color: #34D399 transparent;
    scrollbar-width: thin;
}

.disabled-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: repeating-linear-gradient(45deg, transparent, transparent, rgb(223, 5, 5) 15px, rgb(223, 5, 5) 15px);
}

.ql-container.ql-snow {
    width: auto;
}

.ql-editor {
    height: auto;
    overflow-y: scroll;
    width: 100%;
    background-color:rgba(54, 65, 83, 0.4);
}

.ql-snow {
    background-color:rgba(123, 143, 175, 0.4);
    border-bottom: none;
}

button:hover .ql-stroke,
.ql-picker-label .ql-stroke {
    fill: none;
    stroke: #00d492 !important;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
    fill: none;
    stroke: #B1F1CB !important;
}

.ql-active .ql-stroke {
    fill: none;
    stroke: #B1F1CB !important;
}

button .ql-fill,
.ql-picker-label .ql-fill {
    fill: #00d492 !important;
    stroke: none;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
    fill: #B1F1CB !important;
    stroke: none;
}

.ql-active .ql-fill {
    fill: #B1F1CB !important;
    stroke: none;
}

button .ql-stroke,
.ql-picker-label .ql-stroke {
    fill: none;
    stroke: #00d492 !important;
}

.ql-container {
    min-height: 10rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: oklch(0.378 0.077 168.94);
    color: oklch(0.845 0.143 164.978);
    border: 1px solid oklch(0.845 0.143 164.978);
    font-size: 12px;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    overflow: visible;
}