{% load static %}
{% load i18n %}
<div id="character-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-full md:inset-0 backdrop-blur-sm bg-black/20 border-1">
    <div class="relative md:p-3 p-1 w-full h-full ">
        <div class="relative rounded-lg shadow w-full bg-black/50">
            <div class="items-center md:p-5 p-1 rounded-t bg-black/0">
                <h3 class="text-xl text-center font-shadow font-bold text-emerald-400">
                    {% translate "Character Sheet" %}
                </h3>
            </div>
            {% for player in map_informations.pc %}
            {% if player.user.user == request.user.id %}
            <div class="flex w-full mt-1 md:gap-1 gap-4 lg:flex-row flex-col">
                <div class="lg:w-1/5 w-4/4 order-1 p-1 lg:flex-row flex-col">
                    <div class="w-2/2 lg:h-full mt-1 flex flex-col gap-2 bg-gray-800 border border-[#B1F1CB] p-2 rounded-md">
                        <div title="{% translate 'Change your picture' %}" class="lg:w-full w-1/2 mt-1 flex items-center lg:justify-center md:justify-end justify-center cursor-pointer hover:animate-pulse">
                            <img class="h-auto w-24 box-content rounded-md ring-2 ring-gray-300 dark:ring-gray-500" id="user-avatar" {% if player.user.image %} src="/static/img/users/{{player.user.player}}/0.gif" {% else %} src="{% static 'ux/default-user.svg' %}" {% endif %}>
                            <input type="file" id="id_image" class="hidden-input-file hidden" name="image" accept=".jpg, .png" />
                        </div>
                        <div class="lg:w-auto w-1/2 mt-1 flex lg:items-start items-center lg:justify-center justify-start p-2">
                            <ul>
                                        <li class="text-justify text-center text-white font-shadow text-sm"><b>{% translate "Name" %}:</b> {{ player.user.name }}</li>
                                        <li class="text-justify text-center text-white font-shadow text-sm"><b>{% translate "Archetype" %}:</b> {% translate player.user.archetype_name %}</li>
                                        <li class="text-justify text-center text-white font-shadow text-sm"><b>{% translate "Faction" %}:</b> {{ player.faction.name }}</li>
                                        <li class="text-justify text-center text-white font-shadow text-sm"><b>{% translate "Sector" %}:</b> {{ player.user.sector_name }}</li>
                                    
                            </ul>
                        </div>
                        <div class="flex w-full flex-col justify-start mt-">
                            <div id="editor" class="flex w-full h-[40vh] max-h-[40vh] text-sm cursor-pointer">
                                {{ player.user.description | safe }}
                            </div>
                        </div>
                        <div class="w-full flex items-center justify-center cursor-pointer md:mt-2 mt-1" id="edit-mod-btn">
                            <i title="{% translate 'Change your description' %}" class="fa-solid fa-file-pen fa-2xl p-5 text-white hover:animate-pulse"></i>
                        </div>
                        <div class="w-full flex flex-row items-center justify-center hidden mt-2 mt-1" id="btn-group">
                            <div class="md:w-1/2 flex items-start justify-center cursor-pointer md:mt-2 mt-1" id="save-edition-btn">
                                <i title="{% translate 'Return to read mode to save' %}" class="fa-solid fa-floppy-disk fa-2xl p-5 text-emerald-400 hover:text-[#B1F1CB] hover:cursor-pointer hover:animate-pulse"></i>
                            </div>
                            <div class="md:w-1/2 flex items-end justify-center cursor-pointer md:mt-2 mt-1" id="cancel-edition-btn">
                                <i title="{% translate 'Discard changes' %}" class="fa-solid fa-xmark fa-2xl p-5 text-red-700 hover:text-red-500 hover:cursor-pointer hover:animate-pulse"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex lg:w-4/5 w-full order-2 flex-wrap gap-3">
                    {% for category in skills.categories %}
                    <fieldset class="flex lg:flex-row flex-col gap-1 p-1 flex-wrap w-full justify-center items-center bg-gray-800 border-[#B1F1CB]">
                        <legend class="text-sm text-start font-bold text-emerald-300 bg-emerald-900 border border-[#B1F1CB] rounded-md p-1 min-w-[10vw]">
                            <span class="flex justify-center">{{ category }}</span>
                        </legend>
                        {% for skill in skills.list %}
                            {% if category == skill.cat %}
                            <div class="flex w-[100%] gap-2 lg:w-1/5 flex-col skills popover-element p-2" id="skill-{{ skill.id }}" data-popover-target="popover-{{ skill.id }}">
                                {% if request.user_agent.is_pc %}
                                <div class="flex w-full lg:justify-start justify-center flex-row gap-2 mb-2 text-sm font-bold text-white md:cursor-pointer">
                                    <p class="flex w-auto text-emerald-300">
                                        {{ skill.skill_name }}
                                    </p> 
                                    <span class="flex font-bold text-black text-sm bg-emerald-900 border-[#B1F1CB] text-emerald-300 rounded-sm px-2">
                                        {{ skill.level }}
                                    </span>
                                    <i class="fa-regular fa-circle-question text-white invisible"></i>
                                </div>
                                <div class="flex  w-full self-center">
                                    <div class="w-full relative bg-zinc-300 text-center h-auto rounded-r-sm text-xs text-center">
                                        <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-xs mx-auto text-center">{{ skill.progress }}%</span>
                                        <div class="h-3 text-xs bg-yellow-600 rounded-r-sm text-center leading-none" style="width:{{ skill.progress }}% ; color:black;"></div>
                                    </div>
                                </div>
                                <div data-popover id="popover-{{ skill.id }}" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-white transition-opacity duration-300 border border-[#B1F1CB] rounded-lg shadow-sm bg-gray-800">
                                    <div class="px-3 py-2 bg-emerald-900 border-b border-[#B1F1CB] rounded-t-lg text-[#B1F1CB]">
                                        <h3 class="font-bold text-center">{{ skill.skill_name }}</h3>
                                    </div>
                                    <div class="px-3 py-2 font-bold font-shadow text-start">
                                        {% translate 'Description' %}:
                                    </div>
                                    <div class="px-3 py-2 font-shadow break-all">
                                        <p class="p-2">{{ skill.description }}</p>
                                    </div>
                                    <div class="px-3 py-2 font-bold font-shadow text-start">
                                        {% translate 'Effects' %}:
                                    </div>
                                    <div class="px-3 py-2 font-shadow text-justify">
                                        <p>{{ skill.effects }}</p>
                                    </div>
                                    <div class="px-3 py-2 font-bold font-shadow text-start">
                                        {% translate 'Expertise' %}:
                                    </div>
                                    <div class="px-3 py-2 font-shadow text-justify">
                                        <p>{{ skill.expertise }}</p>
                                    </div>
                                </div>
                                {% else %}
                                <p class="text-start font-bold text-sm dark:text-white font-shadow mb-1 lg:cursor-pointer">{{ skill.skill_name }} <i class="fa-regular fa-circle-question text-white"></i>
                                <div class="flex w-full mb-2">
                                    <div class="relative w-5 h-5 bg-zinc-300 text-start mr-1">
                                        <span class="text-bold text-xs text-black font-shadow absolute top-0.5 left-1 px-0.5">
                                            {{ skill.level }}
                                        </span>
                                    </div>
                                    <div class="w-full md:w-3/4 h-5 bg-zinc-300">
                                        <div class="h-5 text-xs font-medium progress-bar-color text-center leading-none font-shadow pt-1" style="width: {{ skill.progress }}% ; color:black;">{{ skill.progress }}%</div>
                                    </div>
                                </div>
                                <div class="w-full text-sm text-white border font-shadow border border-[#B1F1CB] bg-gray-800 shadow-sm hidden " id="skill-descr-{{ skill.id }}">
                                    <div class="px-3 py-2 bg-emerald-900 border-b border-[#B1F1CB] rounded-t-lg text-[#B1F1CB]">
                                        <h3 class="font-bold text-center">{{ skill.skill_name }}</h3>
                                    </div>
                                    <div class="px-3 py-2 font-bold font-shadow text-start">
                                        {% translate 'Description' %}:
                                    </div>
                                    <div class="px-3 py-2 font-shadow text-justify">
                                        <p>{{ skill.description }}</p>
                                    </div>
                                    <div class="px-3 py-2 font-bold font-shadow text-start">
                                        {% translate 'Effects' %}:
                                    </div>
                                    <div class="px-3 py-2 font-shadow text-justify">
                                        <p>{{ skill.effects }}</p>
                                    </div>
                                    <div class="px-3 py-2 font-bold font-shadow text-start">
                                        {% translate 'Expertise' %}:
                                    </div>
                                    <div class="px-3 py-2 font-shadow text-justify">
                                        <p>{{ skill.expertise }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="flex justify-center items-center md:p-4 bg-black/0 sm:mb-3">
                <button data-modal-hide="character-modal" type="button" class="font-shadow text-emerald-400 rounded-md hover:text-[#B1F1CB] border-emerald-400 hover:border-[#B1F1CB]  hover:cursor-pointer font-bold focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border text-sm px-5 py-2.5 focus:z-10">{% translate "Close" %}</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/quill/quill.js' %}" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
<script src="{% static 'js/quill/quill_element.js' %}" type="text/javascript"></script>
<script>

    let edit_description_btn = document.querySelector('#edit-mod-btn')
    edit_description_btn.addEventListener("click", () => {
        edit_description_btn.classList.add('bg-gray-50', 'border', 'border-gray-300')
        let quill_content = undefined;
        const quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        quill.getHTML = () => {
            return quill.root.innerHTML;
        };

        quill.on('text-change', () => {
            quill_content = quill.getHTML();
        });
        
        
        let toolbar = document.querySelector('.ql-editor')
        toolbar.classList.add('text-justify', 'break-all', 'overflow-x-hidden', 'h-[20vh]' )

        let editor = document.querySelector('#editor')
        
        editor.addEventListener("click", () => {
            document.querySelector(".ql-editor").focus();
        });
    });
    

    
</script>
<script src="{% static 'world_builder/world/character_modal.js' %}"></script>
