{% load static %}
{% load i18n %}
{% load customtags %}

<div id="inventory-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 modal-z-index flex justify-center items-center w-full h-full bg-black/70 backdrop-blur-md animate-modal-fade">

    <!-- HOLOGRAPHIC HALO -->
    <div id="holo-ring" class="absolute inset-0 rounded-2xl pointer-events-none glow-ring"></div>

    <div class="relative md:w-[95%] md:max-w-6xl md:max-h-[90vh] h-full w-full  bg-zinc-950/95 border border-emerald-400/30 md:rounded-2xl shadow-lg flex flex-col overflow-hidden animate-modal-rise energy-border">
    
    <!-- HEADER -->
    <div class="flex justify-between items-center px-5 py-4 border-b border-emerald-500/40 bg-gradient-to-r from-emerald-900/60 to-zinc-900/60 shadow-inner">
        <h2 class="font-orbitron text-emerald-400 text-xl md:text-2xl font-bold uppercase tracking-widest flex items-center gap-3">
            <i class="fa-solid fa-walkie-talkie text-emerald-300 animate-pulse"></i>
            {% translate "Inventory" %}
        </h2>
        <button id="close-sector-chat" class="text-emerald-400 hover:text-red-400 text-2xl transition-all duration-200">
            <i data-modal-hide="inventory-modal" class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <!-- CONTENU PRINCIPAL -->
    <div class="flex flex-col lg:flex-row flex-grow overflow-hidden relative z-10">

        <!-- INVENTAIRE -->
        <div class="order-1 lg:order-2 lg:w-1/2 w-full p-3 flex flex-col md:custom-scroll gap-2">
            <h3 class="text-base font-bold text-emerald-300 uppercase mb-1 tracking-widest font-orbitron">{% translate "Inventory" %}</h3>
            <p class="text-emerald-200 text-xs mb-2">{% translate "Max Capacity" %}: <span class="font-bold text-emerald-400">25 / 100</span></p>

            <div id="inventory-list" class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-1 gap-1">
                <div class="inventory-item flex justify-between items-center bg-gray-800/60 hover:bg-gray-700/50 border border-emerald-800/30 rounded p-1 text-[11px] text-blue-300 p-2">
                    <div>
                        <span class="text-blue-300 font-bold text-xs">Lingots de titane</span>
                        <span class="ml-2 text-[10px] text-gray-400">(Resource)</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="text-emerald-200 text-xs font-semibold">x42</span>
                        <button class="text-red-500 hover:text-red-400 text-sm" title="{% translate 'Delete item' %}" onclick="deleteItem(event, 'Lingots de titane')">
                            <i class="fa-solid fa-trash-can cursor-pointer"></i>
                        </button>
                    </div>
                </div>
                <div class="inventory-item flex justify-between items-center bg-gray-800/60 hover:bg-gray-700/50 border border-emerald-800/30 rounded p-1 text-[11px] text-emerald-300 p-2">
                    <div>
                        <span class="text-emerald-300 font-bold text-xs">Moteur à fusion Mk II</span>
                        <span class="ml-2 text-[10px] text-gray-400">(module)</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="text-emerald-200 text-xs font-semibold">x1</span>
                        <button class="text-red-500 hover:text-red-400 text-sm" title="{% translate 'Delete item' %}" onclick="deleteItem(event, 'Moteur à fusion Mk II')">
                            <i class="fa-solid fa-trash-can cursor-pointer"></i>
                        </button>
                    </div>
                </div>
                <div class="flex justify-between items-center bg-gray-800/60 hover:bg-gray-700/50 text-blue-300 border border border-emerald-800/30 rounded p-2">
                    <div>
                        <span class="text-blue-300 font-bold text-xs">Lingots de titane</span>
                        <span class="ml-2 text-[10px] text-gray-400">(Resource)</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="text-emerald-200 text-xs font-semibold">x22</span>
                        <button class="text-red-500 hover:text-red-400 text-sm" title="{% translate 'Delete item' %}" onclick="deleteItem(event, 'Lingots de titane')">
                            <i class="fa-solid fa-trash-can cursor-pointer"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

            <div class="order-2 lg:order-1 lg:w-1/2 w-full p-3 flex flex-col overflow-y-auto custom-scroll gap-2">
                <h3 class="text-base font-bold text-emerald-300 uppercase mb-1 tracking-widest font-orbitron">{% translate "Equipped Modules" %}</h3>

                {% for category in module_categories %}
                <fieldset class="flex border border-emerald-400/20 rounded-lg p-2 bg-gray-900/50 hover:bg-gray-900/60 transition-all">
                    <legend class="text-xs font-bold text-emerald-300 bg-emerald-950/60 border border-emerald-400/30 rounded-md px-2 py-1 tracking-wide uppercase font-orbitron">
                        {% translate category|from_underscore_to_space %}
                    </legend>
                    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-1 gap-1 mt-1" id="module-type-{{ category }}">
                        <div class="text-gray-500 text-[10px] italic pl-1 empty-slot">{% translate "Empty slot" %}</div>
                    </div>
                </fieldset>
                {% endfor %}
            </div>
        </div>

        <div class="w-full flex justify-center items-center py-3 border-t border-emerald-400/20 bg-black/50 relative z-10">
            <button data-modal-hide="inventory-modal" class="text-emerald-400 hover:text-[#B1F1CB] font-bold px-6 py-1.5 rounded-md border border-emerald-400/30 hover:border-[#B1F1CB] text-sm transition-all">
                {% translate "Close" %}
            </button>
        </div>
    </div>
</div>

<script>
    function translate_this(arg){
        return "{% translate 'inventory' %}";
    }
    const i18n = {
        inventory: "{% translate 'Inventory' %}",
        effects: "{% translate 'Effects' %}",
        power: "{% translate 'Power' %}",
        unequip_confirm: "{% translate 'Are you sure you want to unequip' %}",
        unequipped: "{% translate 'unequipped' %}",
    };
</script>

