{% load static %}
{% load i18n %}
<nav class="flex bg-zinc-950/70 w-full lg:hidden">
    <div class="w-full flex justify-end bg-zinc-950/70">
        {% if request.user.is_authenticated %}
        <a href="/play" class="text-white flex justify-center items-center w-full flex-row p-2 gap-3">
            <img src="{% static 'ux/rightArrow-icon.svg' %}" class="w-4 h-4 animate-ping"/>
            <p class="text-xs font-bold">
                Welcome, {{request.user.username}}
            </p>
            <img src="{% static 'ux/leftArrow-icon.svg' %}" class="w-4 h-4 animate-ping"/>
        </a>
        {% endif %}
        <button data-collapse-toggle="navbar-hamburger" type="button" class="navbar-burger p-3 text-emerald-400 hover:text-[#B1F1CB] flex justify-center items-center">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
    <div class="navbar-menu relative z-40 lg:hidden hidden mt-5" id="navbar-hamburger">
        <nav class="fixed top-10 left-0 bottom-0 flex flex-col w-full py-3 px-6 bg-zinc-950/70 overflow-y-auto">
            <ul>
                <li>
                    <span class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                        <i class="fa-solid fa-book fa-xl"></i>
                        <span>{% translate "Lore" %}</span></span>
                    </span>
                </li>
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'core:logout_view' %}" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1 logout">
                    {% csrf_token %}
                    <i class="fa-solid fa-home fa-xl"></i>
                    <span>{% translate "Log out" %}</span>
                    <button type="submit" id="logout-btn" class="hidden"></button>
                </form>
                {% else %}
                <li>
                    <span class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                        <i class="fa-solid fa-user-plus fa-xl"></i>
                        <span>{% translate "Register" %}</span></span>
                    </span>
                </li>
                <li>
                    <span class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                        <i class="fa-solid a-solid fa-right-to-bracket fa-xl"></i>
                        <span>{% translate "Login" %}</span></span>
                    </span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</nav>
