{% load static %}
{% load i18n %}
<nav class="flex bg-zinc-950/70 w-full lg:hidden">
    <div class="w-full flex bg-zinc-950/70 flex-col">
        <div class="w-full flex flex-row">
            <a href="/" class="gap-1 flex text-xl font-bold text-white">
                <img src="{% static 'ux/recorp.png' %}" class="h-10 p-1" alt="Recorp_logo" />
                <p class="flex items-center justify-center text-sm font-bold">Recorp</p>
            </a>
            {% if request.user.is_authenticated %}
            <a href="/play" class="text-white flex justify-center items-center w-full flex-row gap-3 mr-[5vw]">
                <img src="{% static 'ux/rightArrow-icon.svg' %}" class="w-4 h-4 animate-pulse"/>
                <p class="text-md font-bold">
                    Welcome, {{request.user.username}}
                </p>
                <img src="{% static 'ux/leftArrow-icon.svg' %}" class="w-4 h-4 animate-pulse"/>
            </a>
            {% endif %}
            <button data-collapse-toggle="navbar-hamburger" type="button" class="navbar-burger p-3 text-emerald-400 hover:text-[#B1F1CB] absolute right-0 ">
                <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Mobile menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
        </div>
        <div class="z-40 relative lg:hidden hidden" id="navbar-hamburger">
            <ul class="fixed w-full bg-zinc-950/90">
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'core:logout_view' %}" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1 logout">
                    {% csrf_token %}
                    <i class="fa-solid fa-home fa-xl"></i>
                    <span>{% translate "Log out" %}</span>
                    <button type="submit" id="logout-btn" class="hidden"></button>
                </form>
                {% else %}
                <li class="bg-gray-700/40 border border-gray-300/40 m-1 rounded-md">
                    <div class="index-container w-full px-4">
                        <div class="flex justify-center flex-row">
                            <div class="md:w-1/2 w-full">
                                <section class="flex self-center item-center justify-center p-2">
                                    <form method="POST" action="" class="flex flex-col gap-1 w-full">
                                        {% csrf_token %}
                                        <label for="id_username" class="font-bold text-sm text-white mb-1">{% translate 'username' %}:</label>
                                        <input type="text" name="username" maxlength="150" required="" id="id_username" class="block w-full p-1 rounded-md border-0 text-sm text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
                                        <label for="id_password" class="font-bold text-sm text-white mb-1">{% translate 'password' %}:</label>
                                        <input type="password" name="password" required="" id="id_password" class="block w-full p-1 rounded-md border-0 text-sm text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
                                        <div class="rounded-lg bg-yellow-50 dark:text-yellow-300">
                                            {% if messages %}
                                            <ul class="messages w-auto bg-gray-800 login-policy rounded-lg" role="alert">
                                                {% for message in messages %}
                                                <li>
                                                    {% if message.tags == "error" %}
                                                        <p class="p-2 text-sm text-red-400">
                                                    {% endif %}
                                                    {% if message.tags == "warning" %}
                                                        <p class="p-2 text-sm rounded-lg text-yellow-300">
                                                    {% endif %}
                                                        {{ message|safe }}
                                                        </p>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                        <div class="w-full text-center flex flex-row gap-1 text-white text-sm">
                                            <a href="/" class="italic">Forgot password ?</a>
                                        </div>
                                        <div class="w-full text-center mt-1">
                                            <button type="submit" id="login-btn" title="{% translate 'Log in' %}" class="bg-emerald-400 rounded-md p-1 hover:animate-pulse">
                                                <i class="fa-solid fa-arrow-right-from-bracket text-white fa-xl"></i>
                                            </button>
                                        </div>
                                        <div class="w-full text-center flex flex-row gap-1 text-white text-sm mt-1 italic">
                                            <a href="/" class="italic">You don't have an account? Signup here</a>
                                        </div>
                                        {% if form.errors %}
                                        <div class="">
                                        {{ form.errors }}
                                        </div>
                                        {% endif %}
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                <li>
                    <span class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                        <i class="fa-solid fa-book fa-xl"></i>
                        <span>{% translate "Lore" %}</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>
