{% load static %}
{% load i18n %}
<div class="flex z-50 lg:block h-full w-1/12 bg-zinc-950/70 hidden">
    <ul class="flex flex-col items-start align-center ul-nav">
        <li class="flex flex-row">
            <span data-modal-target="character-modal" data-modal-toggle="character-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-shadow gap-1 nav-item">
                <i class="fa-solid fa-user fa-xl"></i> 
                <b class="fixed text-[#B1F1CB] hidden"> 
                    {% translate "Character" %}
                </b></span>
        </li>
        <li class="flex flex-row">
            <span data-modal-target="inventory-modal" data-modal-toggle="inventory-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-user fa-xl"></i> {% translate "Inventory" %}</span>
        </li>
        <li class="flex flex-row">
            <span data-modal-target="faction-modal" data-modal-toggle="faction-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-people-group fa-xl"></i> {% translate "Faction" %}</span>
        </li>
        <li class="flex flex-row">
            <span data-modal-target="research-modal" data-modal-toggle="research-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-brain fa-xl"></i> {% translate "Research" %}</span>
        </li>
        <li class="flex flex-row">
            <span data-modal-target="map-modal" data-modal-toggle="map-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-map fa-xl"></i> {% translate "Map" %}</span>
        </li>
        <li class="flex flex-row">
            <span data-modal-target="task-modal" data-modal-toggle="task-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-list-check fa-xl"></i> {% translate "Tasks" %}</span>
        </li>
        <li class="flex flex-row">
            <span data-modal-target="event-modal" data-modal-toggle="event-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-mobile-screen-button fa-xl"></i> {% translate "Events" %}</span>
        </li>
        <li class="flex flex-row">
            <span data-modal-target="message-modal" data-modal-toggle="message-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-envelope fa-xl"></i> {% translate "Forum" %}</span>
        </li>
        <li class="flex flex-row">
            <a href="#" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-comments fa-xl"></i> {% translate "Forum" %}</a>
        </li>
        <li class="flex flex-row">
            <span data-modal-target="option-modal" data-modal-toggle="option-modal" class="block p-1 text-emerald-400 hover:bg-[#25482D] hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow gap-1 nav-item"><i class="fa-solid fa-gear fa-xl"></i> {% translate "Settings" %}</span>
        </li>
    </ul>
</div>
<script src="{% static 'world_builder/world/navbar_game.js'%}"  type="text/javascript"></script>