{% load static %}
{% load i18n %}
<nav class="flex bg-zinc-950/70 w-full lg:hidden">
    <a href="/">
        <img src="{% static 'ux/recorp.png' %}" class="h-10 pt-0.5 pl-2" alt="Recorp_logo" />
    </a>
    <div class="w-full flex justify-end bg-zinc-950/70">
        <button data-collapse-toggle="navbar-hamburger" type="button" class="navbar-burger p-3 text-emerald-400 hover:text-[#B1F1CB]">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
</nav>
<div class="navbar-menu relative z-40 lg:hidden hidden" id="navbar-hamburger">
    <nav class="fixed top-10 left-0 bottom-0 flex flex-col w-full py-3 px-6 bg-zinc-950/70 overflow-y-auto">
        <ul>
            <li>
                <span data-modal-target="character-modal" data-modal-toggle="character-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-user fa-xl"></i>
                    <span>{% translate "Character" %}</span></span>
                </span>
            </li>
            <li>
                <span data-modal-target="inventory-modal" data-modal-toggle="inventory-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-box fa-xl"></i>
                    <span>{% translate "Inventory" %}</span></span>
                </span>
            </li>
            <li>
                <span data-modal-target="faction-modal" data-modal-toggle="faction-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-people-group fa-xl"></i>
                    <span>{% translate "Faction" %}</span></span>
                </span>
            </li>
            <li>
                <span data-modal-target="research-modal" data-modal-toggle="research-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-brain fa-xl"></i>
                    <span>{% translate "Research" %}</span></span>
                </span>
            </li>
            <li>
                <span data-modal-target="map-modal" data-modal-toggle="map-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-map fa-xl"></i>
                    <span>{% translate "Map" %}</span>
                </span>
            </li>
            <li>
                <span data-modal-target="task-modal" data-modal-toggle="task-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-list-check fa-xl"></i>
                    <span>{% translate "Tasks" %}</span>
                </span>
            </li>
            <li>
                <span data-modal-target="event-modal" data-modal-toggle="event-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-mobile-screen-button fa-xl"></i>
                    <span>{% translate "Events" %}</span>
                </span>
            </li>
            <li>
                <span data-modal-target="message-modal" data-modal-toggle="message-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-envelope fa-xl"></i>
                    <span>{% translate "Forum" %}</span>
                </span>
            </li>
            <li>
                <a href="#" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-comments fa-xl"></i>
                    <span>{% translate "Forum" %}</span>
                </a>
            </li>
            <li>
                <span data-modal-target="option-modal" data-modal-toggle="option-modal" class="block p-3 cursor-pointer text-emerald-400 hover:bg-emelerald-900 hover:text-[#B1F1CB] text-left md:text-base text-sm font-bold font-shadow nav-item gap-1">
                    <i class="fa-solid fa-gear fa-xl"></i>
                    <span>{% translate "Settings" %}</span>
                </span>
            </li>
        </ul>
    </nav>
</div>
