<!DOCTYPE html>
<html lang="en" SameSite=Lax Secure>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" SameSite=Lax Secure >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/output.css' %}">
        <script src="{% static 'tailwind/flowbite.min.js' %}"></script>
        <script src="{% static 'js/fontawesome/fontawesome.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'world_builder/var.js'%}"></script>
    </head>

    {% block content %}
    {% endblock %}
    </body>
    {% block js %}
    {% endblock %}
</html>