<!DOCTYPE html>
<html lang="en" SameSite=Lax Secure>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" SameSite=Lax Secure >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="csrf-token" content="{{ csrf_token }}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/output.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'ux/recorp.png' %}" >
        <script src="{% static 'tailwind/flowbite.min.js' %}"></script>
        <script src="{% static 'fontawesome/fontawesome.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'ckeditor/ckeditor.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'world_builder/var.js'%}"></script>

        <style>
            .modal {
                transition: opacity 0.25s ease;
            }
            body.modal-active {
                overflow-x: hidden;
                overflow-y: visible !important;
            }
            .opacity-95 {opacity: .95;}
        </style>
    </head>
    <body class="relative min-h-screen w-full flex flex-col" id="player-container">
    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}
    </body>
</html>