{% load static %}
{% load i18n %}
<div class="index-container w-full px-4">
    <div class="flex justify-center flex-row">
        <div class="md:w-1/2 w-full">
            <section class="flex self-center item-center justify-center p-2">
                <form method="POST" action="" class="flex flex-col gap-1 w-full">
                    {% csrf_token %}
                    <label for="id_username" class="font-bold text-sm text-white mb-1">{% translate 'username' %}:</label>
                    <input type="text" name="username" maxlength="150" required="" id="id_username" class="block w-full p-1 rounded-md border-0 text-sm text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
                    <label for="id_password" class="font-bold text-sm text-white mb-1">{% translate 'password' %}:</label>
                    <input type="password" name="password" required="" id="id_password" class="block w-full p-1 rounded-md border-0 text-sm text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
                    <div class="rounded-lg bg-yellow-50 dark:text-yellow-300">
                        {% if messages %}
                        <ul class="messages w-auto bg-gray-800 login-policy rounded-lg" role="alert">
                            {% for message in messages %}
                            <li>
                                {% if message.tags == "error" %}
                                    <p class="p-2 text-sm text-red-400">
                                {% endif %}
                                {% if message.tags == "warning" %}
                                    <p class="p-2 text-sm rounded-lg text-yellow-300">
                                {% endif %}
                                    {{ message|safe }}
                                    </p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="w-full text-center flex flex-row gap-1 text-white text-sm">
                        <a href="/" class="italic">Forgot password ?</a>
                    </div>
                    <div class="w-full text-center mt-1">
                        <input type="submit" class="w-full focus:outline-none text-white font-shadow text-shadow bg-emerald-400 font-bold rounded-md text-sm p-1 login-button" id="login-btn" value="{% translate 'Connection' %}"/>
                    </div>
                    <div class="w-full text-center flex flex-row gap-1 text-white text-sm mt-1 italic">
                        <a href="/" class="italic">You don't have an account? Signup here</a>
                    </div>
                    
                    {% if form.errors %}
                    <div class="">
                    {{ form.errors }}
                    </div>
                    {% endif %}
                </form>
            </section>
        </div>
    </div>
</div>