{% extends "admin/index.html" %}
{% load static %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/output.css' %}">


<div class="flex w-full item-center" style="">
   <form class="flex flex-col items-center w-full" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <img id="img-preview" src="">
      {% for item in form %}
         {% if not "image_url" in item.label%}
            <div class="mt-2 w-full font-bold">
               {{ item.label }}
            </div>
         {% endif %}
         <div class="mt-2 w-full self-center">
            {{ item }}
         </div>
      {% endfor %}
      <input class="mt-2 self-center" type="submit" value="Save it to db">
   </form>
</div>

<script src="{% static 'world_builder/admin/add_map_element.js' %}"></script>
{% endblock %}

<!-- hide sidebar -->
{% block sidebar  %}
{% endblock %}
