{% extends "admin/index.html" %}
{% load static %}

{% block content %}
{{ foreground|json_script:"script_foreground" }}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/output.css' %}">
<script src="{% static 'fontawesome/fontawesome.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'tailwind/flowbite.min.js' %}"></script>

<div class="flex w-[90vw] xl:flex-row flex-col gap-20 justify-center">
    <div class="flex flex-col lg:w-1/2 w-full m-0 p-0 self-start">
        <section id="background-menu" class="lg:w-1/2 w-full">
            <label for="background" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><b>Select Background</b></label>
            <select id="background" class="w-1/8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                {% for bg in background %}
                    <option value="{{ bg }}">{{ bg }}</option>
                {% endfor %}
            </select>
        </section>

        <section id="foreground-button" class="mt-2 lg:w-1/2 w-full">
            <label for="add-foreground-item" class="block mb-2 text-sm text-center font-medium text-gray-900 dark:text-white"><b>Add Foreground Item</b></label>
            <div class="mb-4 flex w-2/2 h-[50px] w-[50px] items-center mx-auto border rounded-full border-emerald-400 bg-emerald-500 cursor-pointer" id="add-foreground-item">
                <i class="fa-solid fa-plus fa-2xl mx-auto bg-blue-500"></i>
            </div>
        </section>

        <section id="foreground-menu" class="mt-2 h-[60vh] overflow-y-scroll no-scrollbar lg:w-1/2 w-full">

            <div class="flex flex-col bg-gray-600 mb-1 p-2 foreground-menu-item border border-white" id="foreground-menu-0">
                <span class="foreground-menu-title text-center text-sm flex flex-col" id="foreground-menu-title-0"><b>New Foreground item <i class="fa-solid fa-trash fa-xl cursor-pointer trash-it"></i></b>
                    <label for="coord-radio-button">Activate</label>
                    <input class="mt-2 coord-radio-button" id="coord-radio-button-0" type="radio" name="coord-radio-button" value="Activate" />
                </span>
                <label for="foreground" class="block mb-2"><b>Chose Foreground Item</b></label>
                <select id="foreground" class="mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option value="none" selected>None Selected</option>
                    {% for fg in foreground %}
                    <option value="{{ fg }}">{{ fg }}</option>
                    {% endfor %}
                </select>
                <div class="flex gap-2 flex-col items-center mx-auto mt-1 mb-1 lg:w-1/2 w-full coord_size">
                    <section class="flex w-2/2 gap-1 size">
                        <div class="flex flex-col size_x">
                            <label for="coord_x" class="block mb-2 font-medium text-gray-900 dark:text-white font-bold"><b>Size X :</b></label>
                            <input type="number" id="size_x" min="0" value="0" class="cursor-pointer">
                        </div>
                        <div class="flex flex-col size_y">
                            <label for="coord_y" class="block mb-2 font-medium text-gray-900 dark:text-white font-bold"><b>Size Y :</b></label>
                            <input type="number" id="size_y" min="0" value="0" class="cursor-pointer">
                        </div>
                    </section>
                    <section class="flex w-2/2 gap-1 coord">
                        <div class="flex flex-col coord_x">
                            <label for="coord_x" class="block mb-2 font-medium font-medium text-gray-900 dark:text-white"><b>Coord X :</b></label>
                            <input type="number" id="coord_x" min="0" value="0" class="cursor-pointer">
                        </div>
                        <div class="flex flex-col coord_y">
                            <label for="coord_y" class="block mb-2 font-medium font-medium text-gray-900 dark:text-white font-bold"><b>Coord Y :</b></label>
                            <input type="number" id="coord_y" min="0" value="0" class="cursor-pointer">
                        </div>
                    </section>
                </div>
                <div class="flex gap-2 flex-col items-center mx-auto mt-1 mb-1 lg:w-2/2 w-full p-2 animations">
                    <section class="flex w-full flex-row animations-section gap-1">
                        <div class="flex flex-col w-1/2 animation-items">
                            <label for="animation-1" class="block mb-2 font-medium font-medium text-gray-900 dark:text-white font-bold"><b>Animation 1:</b></label>
                            <select id="animation-1" class="mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                                <option value="none" selected>None Selected</option>
                                {% for fg in foreground %}
                                <option value="{{ fg }}">{{ fg }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col w-1/2 animation-items">
                            <label for="animation-2" class="block mb-2 font-medium font-medium text-gray-900 dark:text-white font-bold"><b>Animation 2:</b></label>
                            <select id="animation-2" class="mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                                <option value="none" selected>None Selected</option>
                                {% for fg in foreground %}
                                <option value="{{ fg }}">{{ fg }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </section>
                    <section class="flex w-full flex-row gap-1 animations-section gap-1">
                        <div class="flex flex-col w-1/2 animation-items">
                            <label for="animation-3" class="block mb-2 font-medium font-medium text-gray-900 dark:text-white font-bold"><b>Animation 3:</b></label>
                            <select id="animation-3" class="mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                                <option value="none" selected>None Selected</option>
                                {% for fg in foreground %}
                                <option value="{{ fg }}">{{ fg }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col w-1/2 animation-items">
                            <label for="animation-4" class="block mb-2 font-medium font-medium text-gray-900 dark:text-white font-bold"><b>Animation 4:</b></label>
                            <select id="animation-4" class="mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                                <option value="none" selected>None Selected</option>
                                {% for fg in foreground %}
                                <option value="{{ fg }}">{{ fg }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </section>
                    <section class="flex w-full flex-row gap-1 time-section gap-1">
                        <div class="flex flex-col w-full text-center">
                            <label for="animation-duration" class="block mb-2 font-medium font-medium text-gray-900 dark:text-white font-bold"><b>Animation duration time (in ms):</b></label>
                            <input type="number" id="animation-duration" min=50 class="">
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section id="preview-button" class="mt-2 lg:w-1/2 w-full">
            <input class="mt-2 flex mx-auto" id="preview" type="button" value="Preview">
        </section>
    </div>
    <div class="flex flex-col w-1/2 m-0 p-0 self-start">
        <div id="map-background" class=" flex flex-row self-start">
            <div class="flex xl:self-center self-start item-center">
                <div class="grid">
                    <table class="tabletop-view no-spacing" cellspacing="0" border="0">
                        <tbody>
                            {% for row in map_size_range.rows %}
                                {% if forloop.first %}
                                <td class="text-center bg-gray-800/40 text-emerald-300 font-bold w-[32px] h-[32px] p-0 z-5 text-center align-middle no-spacing">0:0</td>
                                    {% for col in map_size_range.cols %}
                                    <td class="text-center bg-gray-800/40 text-emerald-300 font-bold w-[32px] h-[32px] p-0 z-5 align-middle text-center no-spacing">{{ col }}</td>
                                    {% endfor %}
                                {% endif %}
                                <tr class="rows">
                                    <td class="bg-gray-800/40 text-emerald-300 w-[32px] h-[32px] p-0 z-5 align-middle text-center no-spacing">{{ row }}</td>
                                {% for col in map_size_range.cols %}
                                    <td class="w-[32px] h-[32px] m-0 p-0 z-5 tile " title="x: {{col}}, y: {{row}}" id="{{col}}_{{row}}" style="">
                                        <div class="relative w-[32px] h-[32px] hover:border hover:border-amber-400 border-dashed block hover:bg-slate-300/10">
                                        </div>
                                    </td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'world_builder/map_builder.js' %}">
</script>
{% endblock %}

<!-- hide sidebar -->
{% block sidebar  %}
{% endblock %}
