{% extends "admin/base_site.html" %}

{% block content %}
<h1>🖼️ Outil de redimensionnement</h1>
{% if preview_after %}
<p style="color:#6ee7b7;">
    ✔ Image chargée
</p>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned">
        {{ form.as_p }}
    </fieldset>

    <div class="submit-row">
        <button type="submit" name="preview">👁 Aperçu</button>
        <button type="submit" name="save" class="default">💾 Sauvegarder</button>
    </div>
</form>

{% if preview_after %}
<hr>
<h2>Prévisualisation</h2>

<div style="display:flex; gap:40px;">
    <div>
        <h3>Preview</h3>
        <img src="data:image/png;base64,{{ preview_after }}" style=" 
            background:#111;
            max-width: 300px;
            max-height: 300px;
            width: auto;
            height: auto;
            image-rendering: pixelated;
            border: 1px dashed #444;"
        >
    </div>
</div>
{% endif %}
{% endblock %}