{% extends "admin/index.html" %}
{% load static %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/output.css' %}">
<script src="{% static 'fontawesome/fontawesome.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'tailwind/flowbite.min.js' %}"></script>
{{ foreground|json_script:"script_foreground" }}
{{ size|json_script:"script_size" }}
{{ planet_url|json_script:"script_planet_url" }}
{{ station_url|json_script:"script_station_url" }}
{{ animations_data|json_script:"script_animation_data"}}
{{ asteroid_url|json_script:"script_asteroid_url" }}
<div class="flex w-[90vw] lg:flex-row flex-col gap-20 justify-center">
    <form class="flex flex-col lg:w-1/2 w-full m-0 p-0 self-start" action="" method="POST">
        <input type="hidden" value="{{ csrf_token }}" id="csrf_token">

        <section class="mb-2">
            <div class="flex flex-row">
                <div class="flex w-full flex-col">
                    <label for="sector-select" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white"><b>Select sector</b></label>
                    <div class="flex flex-row gap-1">
                        <select id="sector-select" name="sector-select" class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                            <option class="text-center">none</option>
                            {% for sector in sector_data %}
                                <option value="{{ sector.id }}" class="text-center">{{ sector.name }}</option>
                            {% endfor %}
                        </select>
                        <i class="fa-solid fa-trash fa-2x hover:text-emerald-400 cursor-pointer"></i>
                    </div>
                </div>
            </div><small class="text-red-500">chose a sector to update or delete it, if you select <b>none</b> you will create new one</small>
        </section>

        <section id="background-menu" class="w-full">
            <label for="background" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white"><b>Select Background</b></label>
            <select id="background" name="background" class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                {% for bg in background %}
                    <option value="{{ bg }}" class="text-center">{{ bg }}</option>
                {% endfor %}
            </select>

        </section>

        <section class="w-full mt-1">
            <label for="sector-name" class="block mb-2 font-medium text-gray-900 dark:text-white"><b>Map name:</b></label>
            <input type="text" class="w-full text-center" id="sector-name" name="sector-name" value="" required>
        </section>

        <section class="w-full mt-1">
            <label for="owned-by-faction" class="block mb-2 font-medium text-gray-900 dark:text-white"><b>Is owned by faction: <small class="text-red-500">(choose it if it's not a faction starter map, but you still want to assign it to a faction)</small></b></label>
            <input type="checkbox" id="owned-by-faction" class="w-full flex item-start" name="owned-by-faction" value="faction_owned" required>
            <label for="faction-starter" class="block mb-2 font-medium text-gray-900 dark:text-white"><b>Is faction starter:</b></label>
            <input type="checkbox" id="faction-starter" class="w-full" name="faction-starter" value="faction_starter" required>
        </section>

        <section class="w-full mt-1" id="faction-select" style="display:none">
            <label for="faction-choice" class="block mb-2 font-medium text-gray-900 dark:text-white"><b>Assign faction:</b></label>
            <select id="faction-choice" name="faction-choice" class="text-center mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                {% for faction in faction_data %}
                    <option value="{{ faction.id }}" class="text-center">{{ faction.name }}</option>
                {% endfor %}
            </select>
        </section>

        <section class="w-full mt-1">
            <label for="security-level" class="block mb-2 font-medium text-gray-900 dark:text-white"><b>Sector security level:</b></label>
            <select id="security-level" name="security-level" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer" required>
                {% for sec in security_data %}
                    <option value="{{ sec.id }}">{{ sec.name }}</option>
                {% endfor %}
            </select>
        </section>

        <section class="w-full mt-1">
            <label for="sector-description" class="block mb-2 font-medium text-gray-900 dark:text-white"><b>Sector description:</b></label>
            <textarea id="sector-description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write sector description here..."></textarea>
        </section>

        <section id="foreground-button" class="mt-2 w-full">
            <label for="set-foreground-item" class="block mb-2 text-sm text-center font-bold text-gray-900 dark:text-white"><b>Add Foreground Item</b></label>
            <div class="mb-4 flex w-2/2 h-[50px] w-[50px] items-center mx-auto border rounded-full border-emerald-400 bg-emerald-500 hover:bg-emerald-400 cursor-pointer" id="set-foreground-item">
                <i class="fa-solid fa-plus fa-2x mx-auto "></i>
            </div>
        </section>

        <section id="foreground-menu" class="mt-1 w-full">
            <div id="foreground-menu-container-1" class="w-full flex lg:flex-row flex-col bg-gray-600 border border-white gap-1 mb-1 foreground-menu-container">
                <div class="flex flex-col mb-1 p-2 foreground-menu-item lg:w-1/2 w-full" id="foreground-menu-1">
                    <span class="foreground-menu-title text-center text-sm flex flex-col" id="foreground-menu-title-1"><b>New Foreground item <i id="trash-1" class="fa-solid fa-trash fa-xl cursor-pointer trash-it"></i></b>
                        <label for="coord-radio-button">Get coordinate</label>
                        <input class="mt-1 coord-radio-button text-center" id="coord-radio-button-1" type="radio" name="coord-radio-button" value="Activate" />
                    </span>
                    <div class="flex gap-2 flex-col items-center mx-auto mt-1 mb-1 lg:w-1/2 w-full coord_size">
                        <section class="flex w-2/2 gap-1 coord">
                            <div class="flex flex-col coord-x">
                                <label for="coord-x" class="block mb-2 font-medium text-gray-900 dark:text-white"><b>Coord X :</b></label>
                                <input type="number" id="coord-x-1" name="coord-x" min="0" value="0" class="cursor-pointer text-center">
                            </div>
                            <div class="flex flex-col coord-y">
                                <label for="coord-y" class="block mb-2 text-gray-900 dark:text-white font-bold"><b>Coord Y :</b></label>
                                <input type="number" id="coord-y-1" name="coord-y" min="0" value="0" class="cursor-pointer text-center">
                            </div>
                        </section>
                    </div>
                    <div class="lex gap-2 flex-col items-center mx-auto p-2 mt-1 mb-1 w-full">
                        <label for="fg-item-selector-1" class="block mb-2 text-gray-900 dark:text-white font-bold"><b>Item to add on map :</b></label>
                        <select id="fg-item-selector-1" class="fg-item-selector" name="item-type" required>
                            <option class="text-white" selected>none</option>
                            {% for item in foreground_type %}
                                <option class="text-white font-bold" disabled>{{item}}</option>
                                {% if item == "planet" %}
                                    {% for planet in animations_data.planet_data %}
                                    <option name="foreground-choice" value="{{ item }}_data">{{planet.fields.name}}</option>
                                    {% endfor %}
                                {% elif item == "asteroid" %}
                                    {% for asteroid in animations_data.asteroid_data %}
                                    <option name="foreground-choice" value="{{ item }}_data">{{asteroid.fields.name}}</option>
                                    {% endfor %}
                                {% elif item == "station" %}
                                    {% for station in animations_data.stations_data %}
                                    <option name="foreground-choice" value="{{ item }}_data">{{station.fields.name}}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex gap-2 flex-col items-center mx-auto mt-1 mb-1 lg:w-2/2 w-full p-2 animations">
                        <section class="flex w-full flex-row animations-section gap-1">
                            <div class="flex flex-col w-1/2 animation-items">
                                 <div id="preview-animation-1" class=" flex flex-row self-start">
                                    <div class="flex self-start item-center">
                                        <div class="grid">
                                            <table class="no-borders" cellspacing="0" border="0">
                                                <tbody id="preview-animation">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="flex flex-col mb-1 p-2 foreground-menu-item lg:w-1/2 w-full" id="foreground-menu-left-1">
                    <section>
                        <label for="item-name-1" class="block mb-2 text-gray-900 dark:text-white font-bold"><b>Name this element:</b></label>
                        <input type="text" value="" id="item-name-1" class="item-name text-center" name="item-name">
                        <label for="resources-selector" class="block mb-2 text-gray-900 dark:text-white font-bold"><b>Resources associated:</b></label>
                        <select name="resource-data" class="fg-resource-selector w-full" multiple>
                            {% for resource in resources_data %}
                                {% if forloop.first %}
                                    <option name="foreground-choice" value="{{resource.name}}" selected>{{resource.name}}</option>
                                {% else %}
                                    <option name="foreground-choice" value="{{resource.name}}">{{resource.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <section class="w-full mt-1">
                            <label for="sector-description" class="block mb-2 font-medium text-gray-900 dark:text-white"><b>Item description:</b></label>
                            <textarea id="item-description-1" rows="4" name="item-description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 item-description" placeholder="item description here..."></textarea>
                        </section>
                    </section>
                </div>
            </div>
        </section>

        <section id="preview-button" class="mt-1 flex w-full flex-row gap-1 items-center">
            <input class="mt-1 flex mx-auto w-1/2" id="preview" type="button" value="Preview">
            <input class="mt-1 flex mx-auto w-1/2" id="save" type="button" value="save">
        </section>

    </form>
    <div class="flex flex-col w-1/2 m-0 p-0 self-start">
        <div id="map-background" class=" flex flex-row self-start">
            <div class="flex xl:self-center self-start item-center">
                <div class="grid">
                    <table class="tabletop-view no-spacing" cellspacing="0" border="0">
                        <tbody>
                            {% for row in map_size_range.rows %}
                                {% if forloop.first %}
                                <td class="text-center bg-gray-800/40 text-emerald-300 font-bold w-[32px] h-[32px] p-0 z-5 text-center align-middle no-borders">0:0</td>
                                    {% for col in map_size_range.cols %}
                                    <td class="text-center bg-gray-800/40 text-emerald-300 font-bold w-[32px] h-[32px] p-0 z-5 align-middle no-borders">{{ col }}</td>
                                    {% endfor %}
                                {% endif %}
                                <tr class="rows">
                                    <td class="bg-gray-800/40 text-emerald-300 w-[32px] h-[32px] p-0 z-5 align-middle text-center no-borders">{{ row }}</td>
                                {% for col in map_size_range.cols %}
                                    <td class="w-[32px] h-[32px] m-0 p-0 z-5 tile no-borders" title="x: {{col}}, y: {{row}}" id="{{col}}_{{row}}" style="">
                                        <div class="relative w-[32px] h-[32px] hover:border hover:border-amber-400 border-dashed block hover:bg-slate-300/10">
                                        </div>
                                    </td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'world_builder/map_builder.js' %}" type="text/javascript">
</script>
{% endblock %}

<!-- hide sidebar -->
{% block sidebar  %}
{% endblock %}
